.page-header.navbar {
    height: 60px;
    min-height: 60px;
}

.page-header.navbar .page-logo {
    height: 60px;
    background: #6A469C;
}

.page-header.navbar .menu-toggler > span, .page-header.navbar .menu-toggler > span:after, .page-header.navbar .menu-toggler > span:before, .page-header.navbar .menu-toggler > span:hover, .page-header.navbar .menu-toggler > span:hover:after, .page-header.navbar .menu-toggler > span:hover:before {
    background: #fff;
}

.page-header.navbar .page-logo .logo-default {
    margin: 10px 0 0;
    height: 40px;
}

.page-header.navbar .menu-toggler.responsive-toggler {
    margin: 19.5px 6px 0;
}

.page-header.navbar .menu-toggler.sidebar-toggler {
    margin: 21px 0 0;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown {
    height: 60px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
    padding: 20px 10px 19px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > .badge {
    top: 13px;
}

.page-container-bg-solid .page-bar, .page-content-white .page-bar {
    margin: -15px -20px 0;
}

.page-container-bg-solid .page-bar .page-breadcrumb > li > span > i.fa-circle,
.page-content-white .page-bar .page-breadcrumb > li > span > i.fa-circle {
    font-size: 5px;
    margin: 0 5px;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    position: relative;
    top: -3px;
    opacity: .4;
    filter: alpha(opacity=40);
}

.table-checkable tr > td:first-child, .table-checkable tr > th:first-child {
    text-align: center;
    max-width: 50px;
    min-width: 40px;
    padding: 10px 18px;
}

.dataTables_extended_wrapper div.dataTables_info {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 13px;
    float: none !important;
    display: inline-block !important;
}

.modal-open .colorpicker, .modal-open .datepicker, .modal-open .daterangepicker {
    z-index: 10048 !important;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 60px;
    display: inline-block;
}

.page-actions {
    margin: 12px 0 15px 15px;
    padding: 0;
    float: left;
}

.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a {
    border-left: 4px solid #6A469C;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
    background-color: #6A469C;
    color: #fff;
}

.btn.btn-outline.custom-color {
    border-color: #6a469c;
    color: #6a469c;
    background: 0 0;
}

.btn.btn-outline.custom-color.active,
.btn.btn-outline.custom-color:active,
.btn.btn-outline.custom-color:active:focus,
.btn.btn-outline.custom-color:active:hover,
.btn.btn-outline.custom-color:focus,
.btn.btn-outline.custom-color:hover {
    border-color: #6a469c;
    color: #FFF;
    background-color: #6a469c;
}

@media (max-width: 768px) {
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu {
        margin-right: -50px;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu:after, .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu:before {
        margin-right: 60px;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu {
        margin-right: -100px;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu:after, .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu:before {
        margin-right: 105px;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu {
        margin-right: -150px;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu:after, .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu:before {
        margin-right: 158px;
    }

    .page-header.navbar {
        background-color: #6a469c;
    }
}

.note {
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
}

.table-checkable tr > td:first-child, .table-checkable tr > th:first-child {
    min-width: 20px;
    padding: 10px 10px;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 10px;
    border-bottom: 1px solid #111;
}

.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
    line-height: 19px;
}

.tabbable-line.settings h3:nth-child(1) {
    margin-top: 0px;
}

.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover {
    border-left: 4px solid #6A469C;
}

.note-editor.note-frame {
    margin-bottom: 0px;
}

.help-block {
    font-size: 12px;
}

.no-padding {
    padding: 0 !important;
}

.no-border {
    border: none !important;
}

.mt-element-list .list-simple.mt-list-container ul > .mt-list-item > .list-item-content > h3 {
    margin: 0;
    font-size: 14px;
}

table .qty input {
    border: 1px solid #ededed;
    height: 30px;
    padding: 0;
    width: 100%;
    text-align: center;
}

.cart-quantity-button {
    margin-top: 5px;
}

.cart-quantity-button .btn.button-plus, .cart-quantity-button .btn.button-minus {
    font-size: 14px;
    line-height: 14px;
    color: #c0c0c0;
    text-shadow: 1px -1px rgba(0, 0, 0, 0.05);
    padding: 0;
    border: 1px solid #ededed;
    min-width: auto;
    width: 30px;
    float: right;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 0px;
}

.cart-quantity-button .btn.button-minus {
    float: left;
}

.cart-quantity-button .btn.button-plus span, .cart-quantity-button .btn.button-minus span {
    display: block;
    border: 1px solid #fff;
    height: 33px;
    line-height: 33px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    background: white;
}

.dashboard-stat2.bordered {
    border: 1px solid #e7ecf1;
    margin-bottom: 20px;
    padding: 15px;
}

.dashboard-stat2 .display {
    margin-bottom: 0px;
}

.dashboard-stat2 .display .number h3 {
    margin: 0 0 2px;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
}

.dashboard-stat2 .display .number small {
    font-size: 14px;
    color: #8e9daa;
    font-weight: 600;
    text-transform: uppercase;
}

.tabbable-custom > .nav-tabs > li.active > a {
    border-top: none !important;
    font-weight: 400;
    border-radius: 0;
    cursor: pointer;
}

.CSSAnimationChart, .mapChart {
    width: 100%;
    height: 400px;
}

.profile-stat-text {
    color: #5b9bd1;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

.profile-stat-title {
    color: #7f90a4;
    font-size: 22px;
    text-align: center;
}