#floating-panel {
    position: absolute;
    top: 8px;
    left: 130px;
    z-index: 5;
    background-color: #fff;
    padding: 3px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 20px;
}

#map_address {
    width: 300px;
}
