div.seatCharts-container {
    /*min-width: 700px;*/
}

div.seatCharts-cell {

    height: 16px;
    width: 16px;
    margin: 3px;
    float: left;
    text-align: center;
    outline: none;
    font-size: 13px;
    line-height: 16px;
    color: blue;

}

div.seatCharts-seat {
    background-color: green;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: default;
}

/*div.seatCharts-seat:focus {*/
/*border: none;*/
/*}*/
/*
.seatCharts-seat:focus {
	outline: none;
}
*/

div.seatCharts-space {
    background-color: white;
}

div.seatCharts-row {
    height: 50px;
}

div.seatCharts-row:after {
    clear: both;
}

div.seatCharts-seat.selected {
    background-color: aqua;
}

/*div.seatCharts-seat.focused {*/
/*background-color: #6db131;*/
/*}*/

div.seatCharts-seat.available {
    background-color: green;
}

div.seatCharts-seat.unavailable {
    background-color: red;
    cursor: not-allowed;
}

ul.seatCharts-legendList {
    list-style: none;
}

li.seatCharts-legendItem {
    margin-top: 10px;
    line-height: 2;
}

.tooltipstered {
    position: relative;
}

.tooltipstered:hover::after {
    content: attr(data-seat);
    display: block;
    position: absolute;
    top: -31px;
    width: 30px;
    z-index: 10;
    font-size: 10px;
    color: #fff;
    left: -10px;
    border-radius: 5px;
    border: 2px solid #000;
    background: #4c4c4c;
}

.tooltipstered:hover::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4c4c4c;
    position: absolute;
    top: -3px;
    z-index: 10;
    left: 0;
    right: 0;
    margin: auto;
}

div.seat-container {
    width: 870px;
    margin: 0 auto;
}

div.front-indicator {
    background: #444141;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    margin-bottom: 10px;
    border-radius: 10px;
}

div.booking-details {
    width: 100%;
    float: left;
}

div.seatCharts-container {
    width: 100%;
    float: left;
    position: relative;
}

div.seatCharts-row {
    height: auto;
    float: left;
    width: 100%;
}

div.seatCharts-seat {
    background-color: green;
    border-radius: 0px;
    cursor: pointer;
}

div.seatCharts-cell {
    height: 24px;
    width: 24px;
    margin: 0px;
    font-size: 10px;
    line-height: 24px;
    border: solid 1px #fff;
}

div.seatCharts-space {
    color: #000;
    background: #e1e1e1;
}

.seatCharts-row div.seatCharts-seat:hover {
    border: solid 1px #fff;
    background: #ccc;
}

ul.seatCharts-legendList {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.seatCharts-legendItem {
    margin-top: 0;
    line-height: 2;
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

li.seatCharts-legendItem .seatCharts-seat {
    cursor: default !important;
}

span.seatCharts-legendDescription {
    margin-left: 2px;
}

div.color_1 {
    background-color: #f82ef8 !important;
    border-radius: 50%;
}

div.color_2 {
    background-color: #B9DEA0 !important;
    border-radius: 50%;
}

div.color_3 {
    background-color: #3a78c3 !important;
    border-radius: 50%;
}

div.color_4 {
    background-color: #ffc593 !important;
    border-radius: 50%;
}

div.seatCharts-seat.unavailable {
    background-color: red !important;
    cursor: not-allowed;
    border-radius: 50%;
}

div.seatCharts-seat.governance {
    background-color: #fff !important;
    cursor: not-allowed;
    border: solid 1px #000;
}

div.seatCharts-seat.selected {
    background-color: #0a7e07 !important;
    border-radius: 50%;
}

div[role=checkbox], div.seatCharts-cell.seatCharts-space {
    border-radius: 50%;
    height: 16px;
    width: 16px;
    font-size: 0px;
}

.modal-setting-plan {
    top: 0;
}

.modal-setting-plan .modal-dialog {
    width: 910px;
}

.modal-setting-plan {
    overflow: auto;
}

.modal-setting-plan.prestigia_marrakech .modal-dialog {
    width: 725px;
}

.megarama_fes div[role=checkbox],
.megarama_fes div.seatCharts-cell.seatCharts-space {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 0px;
}

.megarama_fes div.seat-container {
    width: 780px;
    margin: 0 auto;
}

.modal-setting-plan.theatre_med_5_oujda .modal-dialog {
    width: 960px;
}


.theatre_med_5_oujda div.seat-container {
    width: 910px;
    margin: 0 auto;
}

.prestigia_marrakech div.seat-container {
    width: 660px;
    margin: 0 auto;
}

.megarama_casa_s8 div.governance {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 110px;
    text-transform: uppercase;
}

.megarama_casa_s8 .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(22),
.megarama_casa_s8 .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(23),
.megarama_casa_s8 .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(24),
.megarama_casa_s8 .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(25),
.megarama_casa_s8 .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(26),
.megarama_casa_s8 .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(27),
.megarama_casa_s8 .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(28),
.megarama_casa_s8 .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(29) {
    border-top: solid 1px #000;
    background: #fff !important;
    border-radius: 0;
}

.megarama_casa_s8 .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(22),
.megarama_casa_s8 .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(23),
.megarama_casa_s8 .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(24),
.megarama_casa_s8 .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(25),
.megarama_casa_s8 .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(26),
.megarama_casa_s8 .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(27),
.megarama_casa_s8 .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(28),
.megarama_casa_s8 .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(29) {
    background: #fff !important;
    border-radius: 0;
}

.megarama_casa_s8 .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(22),
.megarama_casa_s8 .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(23),
.megarama_casa_s8 .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(24),
.megarama_casa_s8 .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(25),
.megarama_casa_s8 .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(26),
.megarama_casa_s8 .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(27),
.megarama_casa_s8 .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(28),
.megarama_casa_s8 .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(29) {
    background: #fff !important;
    border-bottom: solid 1px #000;
    border-radius: 0;
}

.megarama_casa_s8 .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(22),
.megarama_casa_s8 .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(22),
.megarama_casa_s8 .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(22) {
    border-left: solid 1px #000;
    border-radius: 0;
}

.megarama_casa_s8 .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(29),
.megarama_casa_s8 .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(29),
.megarama_casa_s8 .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(29) {
    border-right: solid 1px #000;
    border-radius: 0;
}

.megarama_fes .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(8),
.megarama_fes .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(9),
.megarama_fes .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(10),
.megarama_fes .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(11),
.megarama_fes .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(12),
.megarama_fes .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(27),
.megarama_fes .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(28),
.megarama_fes .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(29),
.megarama_fes .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(30),
.megarama_fes .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(31) {
    border-top: solid 1px #000;
    background: #fff !important;
    border-radius: 0;
}

.megarama_fes .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(8),
.megarama_fes .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(9),
.megarama_fes .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(10),
.megarama_fes .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(11),
.megarama_fes .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(12),
.megarama_fes .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(27),
.megarama_fes .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(28),
.megarama_fes .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(29),
.megarama_fes .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(30),
.megarama_fes .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(31) {
    background: #fff !important;
    border-radius: 0;
}

.megarama_fes .seatCharts-row:nth-child(25) div.seatCharts-space:nth-child(8),
.megarama_fes .seatCharts-row:nth-child(25) div.seatCharts-space:nth-child(9),
.megarama_fes .seatCharts-row:nth-child(25) div.seatCharts-space:nth-child(10),
.megarama_fes .seatCharts-row:nth-child(25) div.seatCharts-space:nth-child(11),
.megarama_fes .seatCharts-row:nth-child(25) div.seatCharts-space:nth-child(12),
.megarama_fes .seatCharts-row:nth-child(25) div.seatCharts-space:nth-child(27),
.megarama_fes .seatCharts-row:nth-child(25) div.seatCharts-space:nth-child(28),
.megarama_fes .seatCharts-row:nth-child(25) div.seatCharts-space:nth-child(29),
.megarama_fes .seatCharts-row:nth-child(25) div.seatCharts-space:nth-child(30),
.megarama_fes .seatCharts-row:nth-child(25) div.seatCharts-space:nth-child(31) {
    background: #fff !important;
    border-bottom: solid 1px #000;
    border-radius: 0;
}

.megarama_fes .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(8),
.megarama_fes .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(8),
.megarama_fes .seatCharts-row:nth-child(25) div.seatCharts-space:nth-child(8),
.megarama_fes .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(27),
.megarama_fes .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(27),
.megarama_fes .seatCharts-row:nth-child(25) div.seatCharts-space:nth-child(27) {
    border-left: solid 1px #000;
    border-radius: 0;
}

.megarama_fes .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(12),
.megarama_fes .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(12),
.megarama_fes .seatCharts-row:nth-child(25) div.seatCharts-space:nth-child(12),
.megarama_fes .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(31),
.megarama_fes .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(31),
.megarama_fes .seatCharts-row:nth-child(25) div.seatCharts-space:nth-child(31) {
    border-right: solid 1px #000;
    border-radius: 0;
}

.megarama_fes div.porte_1,
.megarama_fes div.porte_2 {
    position: absolute;
    bottom: 8px;
    left: 144px;
    width: 94px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
}

.megarama_fes div.porte_2 {
    left: auto;
    right: 160px;
}

.seatCharts-row div.seatCharts-space:first-child,
.seatCharts-row div.seatCharts-space:last-child {
    font-size: 10px;
    border-radius: 0;
    background: none;
    height: 16px;
    line-height: 16px;
    font-weight: bold;
}

.theatre_med_5_oujda seatCharts-row div.seatCharts-space:first-child,
.theatre_med_5_oujda .seatCharts-row div.seatCharts-space:last-child{
    height: 14px;
    line-height: 14px;
}

.theatre_med_5_rabat seatCharts-row div.seatCharts-space:first-child,
.theatre_med_5_rabat .seatCharts-row div.seatCharts-space:last-child{
    height: 17px;
    line-height: 17px;
}

.theatre_med_5_oujda div[role=checkbox], .theatre_med_5_oujda div.seatCharts-cell.seatCharts-space {
    height: 14px;
    width: 14px;
}

.theatre_med_5_rabat div[role=checkbox], .theatre_med_5_rabat div.seatCharts-cell.seatCharts-space {
    height: 17px;
    width: 17px;
}

.theatre_med_5_rabat div.governance {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60px;
    text-transform: uppercase;
}

.theatre_med_5_balcon_rabat div.governance {
    position: absolute;
    top: 455px;
    left: -45px;
    right: 0;
    margin: 0 auto;
    width: 60px;
    text-transform: uppercase;
}

.theatre_med_5_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(22),
.theatre_med_5_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(23),
.theatre_med_5_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(24),
.theatre_med_5_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(25),
.theatre_med_5_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(26),
.theatre_med_5_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(27),
.theatre_med_5_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(28),
.theatre_med_5_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(29) {
    border-top: solid 1px #000;
    background: #fff !important;
    border-radius: 0;
}

.theatre_med_5_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(22),
.theatre_med_5_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(23),
.theatre_med_5_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(24),
.theatre_med_5_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(25),
.theatre_med_5_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(26),
.theatre_med_5_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(27),
.theatre_med_5_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(28),
.theatre_med_5_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(29) {
    background: #fff !important;
    border-radius: 0;
}

.theatre_med_5_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(22),
.theatre_med_5_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(23),
.theatre_med_5_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(24),
.theatre_med_5_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(25),
.theatre_med_5_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(26),
.theatre_med_5_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(27),
.theatre_med_5_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(28),
.theatre_med_5_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(29) {
    background: #fff !important;
    border-bottom: solid 1px #000;
    border-radius: 0;
}

.theatre_med_5_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(22),
.theatre_med_5_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(22),
.theatre_med_5_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(22) {
    border-left: solid 1px #000;
    border-radius: 0;
}

.theatre_med_5_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(29),
.theatre_med_5_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(29),
.theatre_med_5_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(29) {
    border-right: solid 1px #000;
    border-radius: 0;
}


.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(22),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(23),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(24),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(25),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(26),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(27),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(28),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(29) {
    border-top: solid 1px #000;
    background: #fff !important;
    border-radius: 0;
}

.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(22),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(23),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(24),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(25),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(26),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(27),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(28),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(29) {
    background: #fff !important;
    border-radius: 0;
}

.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(22),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(23),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(24),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(25),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(26),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(27),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(28),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(29) {
    background: #fff !important;
    border-bottom: solid 1px #000;
    border-radius: 0;
}

.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(22),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(22),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(22) {
    border-left: solid 1px #000;
    border-radius: 0;
}

.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(29),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(29),
.theatre_med_5_balcon_rabat .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(29) {
    border-right: solid 1px #000;
    border-radius: 0;
}

.prestigia_marrakech .seatCharts-row:nth-child(51) div.seatCharts-space:nth-child(23),
.prestigia_marrakech .seatCharts-row:nth-child(51) div.seatCharts-space:nth-child(24),
.prestigia_marrakech .seatCharts-row:nth-child(51) div.seatCharts-space:nth-child(25),
.prestigia_marrakech .seatCharts-row:nth-child(51) div.seatCharts-space:nth-child(26),
.prestigia_marrakech .seatCharts-row:nth-child(51) div.seatCharts-space:nth-child(27),
.prestigia_marrakech .seatCharts-row:nth-child(51) div.seatCharts-space:nth-child(28),
.prestigia_marrakech .seatCharts-row:nth-child(51) div.seatCharts-space:nth-child(29),
.prestigia_marrakech .seatCharts-row:nth-child(51) div.seatCharts-space:nth-child(30) {
    border-top: solid 1px #000;
    background: #fff !important;
    border-radius: 0;
}

.prestigia_marrakech .seatCharts-row:nth-child(52) div.seatCharts-space:nth-child(23),
.prestigia_marrakech .seatCharts-row:nth-child(52) div.seatCharts-space:nth-child(24),
.prestigia_marrakech .seatCharts-row:nth-child(52) div.seatCharts-space:nth-child(25),
.prestigia_marrakech .seatCharts-row:nth-child(52) div.seatCharts-space:nth-child(26),
.prestigia_marrakech .seatCharts-row:nth-child(52) div.seatCharts-space:nth-child(27),
.prestigia_marrakech .seatCharts-row:nth-child(52) div.seatCharts-space:nth-child(28),
.prestigia_marrakech .seatCharts-row:nth-child(52) div.seatCharts-space:nth-child(29),
.prestigia_marrakech .seatCharts-row:nth-child(52) div.seatCharts-space:nth-child(30) {
    background: #fff !important;
    border-radius: 0;
}

.prestigia_marrakech .seatCharts-row:nth-child(53) div.seatCharts-space:nth-child(23),
.prestigia_marrakech .seatCharts-row:nth-child(53) div.seatCharts-space:nth-child(24),
.prestigia_marrakech .seatCharts-row:nth-child(53) div.seatCharts-space:nth-child(25),
.prestigia_marrakech .seatCharts-row:nth-child(53) div.seatCharts-space:nth-child(26),
.prestigia_marrakech .seatCharts-row:nth-child(53) div.seatCharts-space:nth-child(27),
.prestigia_marrakech .seatCharts-row:nth-child(53) div.seatCharts-space:nth-child(28),
.prestigia_marrakech .seatCharts-row:nth-child(53) div.seatCharts-space:nth-child(29),
.prestigia_marrakech .seatCharts-row:nth-child(53) div.seatCharts-space:nth-child(30) {
    background: #fff !important;
    border-radius: 0;
}

.prestigia_marrakech .seatCharts-row:nth-child(54) div.seatCharts-space:nth-child(23),
.prestigia_marrakech .seatCharts-row:nth-child(54) div.seatCharts-space:nth-child(24),
.prestigia_marrakech .seatCharts-row:nth-child(54) div.seatCharts-space:nth-child(25),
.prestigia_marrakech .seatCharts-row:nth-child(54) div.seatCharts-space:nth-child(26),
.prestigia_marrakech .seatCharts-row:nth-child(54) div.seatCharts-space:nth-child(27),
.prestigia_marrakech .seatCharts-row:nth-child(54) div.seatCharts-space:nth-child(28),
.prestigia_marrakech .seatCharts-row:nth-child(54) div.seatCharts-space:nth-child(29),
.prestigia_marrakech .seatCharts-row:nth-child(54) div.seatCharts-space:nth-child(30) {
    background: #fff !important;
    border-bottom: solid 1px #000;
    border-radius: 0;
}

.prestigia_marrakech .seatCharts-row:nth-child(51) div.seatCharts-space:nth-child(23),
.prestigia_marrakech .seatCharts-row:nth-child(52) div.seatCharts-space:nth-child(23),
.prestigia_marrakech .seatCharts-row:nth-child(53) div.seatCharts-space:nth-child(23),
.prestigia_marrakech .seatCharts-row:nth-child(54) div.seatCharts-space:nth-child(23) {
    border-left: solid 1px #000;
    border-radius: 0;
}

.prestigia_marrakech .seatCharts-row:nth-child(51) div.seatCharts-space:nth-child(30),
.prestigia_marrakech .seatCharts-row:nth-child(52) div.seatCharts-space:nth-child(30),
.prestigia_marrakech .seatCharts-row:nth-child(53) div.seatCharts-space:nth-child(30),
.prestigia_marrakech .seatCharts-row:nth-child(54) div.seatCharts-space:nth-child(30) {
    border-right: solid 1px #000;
    border-radius: 0;
}

.prestigia_marrakech div[role=checkbox],
.prestigia_marrakech div.seatCharts-cell.seatCharts-space {
    height: 12px;
    width: 12px;
}

.prestigia_marrakech .seatCharts-row div.seatCharts-space:first-child,
.prestigia_marrakech .seatCharts-row div.seatCharts-space:last-child{
    width: 20px !important;
    height: 13px;
    line-height: 12px;
}

.prestigia_marrakech div.governance {
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60px;
    text-transform: uppercase;
}

.zenith_rabat_souad_massi seatCharts-row div.seatCharts-space:first-child,
.zenith_rabat_souad_massi .seatCharts-row div.seatCharts-space:last-child{
    height: 17px;
    line-height: 17px;
}

.zenith_rabat_souad_massi div[role=checkbox], .zenith_rabat_souad_massi div.seatCharts-cell.seatCharts-space {
    height: 17px;
    width: 17px;
}

.zenith_rabat_souad_massi .seatCharts-row:nth-child(22) div.seatCharts-space:nth-child(22),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(22) div.seatCharts-space:nth-child(23),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(22) div.seatCharts-space:nth-child(24),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(22) div.seatCharts-space:nth-child(25),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(22) div.seatCharts-space:nth-child(26),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(22) div.seatCharts-space:nth-child(27) {
    border-top: solid 1px #000;
    background: #fff !important;
    border-radius: 0;
}

.zenith_rabat_souad_massi .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(22),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(23),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(24),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(25),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(26),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(27) {
    background: #fff !important;
    border-radius: 0;
}

.zenith_rabat_souad_massi .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(22),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(23),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(24),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(25),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(26),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(27) {
    background: #fff !important;
    border-bottom: solid 1px #000;
    border-radius: 0;
}

.zenith_rabat_souad_massi .seatCharts-row:nth-child(22) div.seatCharts-space:nth-child(22),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(22),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(22) {
    border-left: solid 1px #000;
    border-radius: 0;
}

.zenith_rabat_souad_massi .seatCharts-row:nth-child(22) div.seatCharts-space:nth-child(27),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(23) div.seatCharts-space:nth-child(27),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(24) div.seatCharts-space:nth-child(27) {
    border-right: solid 1px #000;
    border-radius: 0;
}

.zenith_rabat_souad_massi div.porte_1 {
    position: absolute;
    top: 395px;
    left: 164px;
    width: 487px;
    text-transform: uppercase;
    text-align: center;
}

.zenith_rabat_souad_massi div.porte_2 {
    position: absolute;
    bottom: 15px;
    left: 164px;
    width: 487px;
    text-transform: uppercase;
    text-align: center;
}

.zenith_rabat_souad_massi .seatCharts-row:nth-child(33) div.seatCharts-space:nth-child(22),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(33) div.seatCharts-space:nth-child(23),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(33) div.seatCharts-space:nth-child(24),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(33) div.seatCharts-space:nth-child(25),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(33) div.seatCharts-space:nth-child(26),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(33) div.seatCharts-space:nth-child(27) {
    border-top: solid 1px #000;
    background: #fff !important;
    border-radius: 0;
}

.zenith_rabat_souad_massi .seatCharts-row:nth-child(34) div.seatCharts-space:nth-child(22),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(34) div.seatCharts-space:nth-child(23),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(34) div.seatCharts-space:nth-child(24),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(34) div.seatCharts-space:nth-child(25),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(34) div.seatCharts-space:nth-child(26),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(34) div.seatCharts-space:nth-child(27) {
    background: #fff !important;
    border-radius: 0;
}

.zenith_rabat_souad_massi .seatCharts-row:nth-child(35) div.seatCharts-space:nth-child(22),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(35) div.seatCharts-space:nth-child(23),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(35) div.seatCharts-space:nth-child(24),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(35) div.seatCharts-space:nth-child(25),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(35) div.seatCharts-space:nth-child(26),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(35) div.seatCharts-space:nth-child(27) {
    background: #fff !important;
    border-bottom: solid 1px #000;
    border-radius: 0;
}

.zenith_rabat_souad_massi .seatCharts-row:nth-child(33) div.seatCharts-space:nth-child(22),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(34) div.seatCharts-space:nth-child(22),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(35) div.seatCharts-space:nth-child(22) {
    border-left: solid 1px #000;
    border-radius: 0;
}

.zenith_rabat_souad_massi .seatCharts-row:nth-child(33) div.seatCharts-space:nth-child(27),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(34) div.seatCharts-space:nth-child(27),
.zenith_rabat_souad_massi .seatCharts-row:nth-child(35) div.seatCharts-space:nth-child(27) {
    border-right: solid 1px #000;
    border-radius: 0;
}

.rialto_casa_souad_massi .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(18),
.rialto_casa_souad_massi .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(19),
.rialto_casa_souad_massi .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(20),
.rialto_casa_souad_massi .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(21),
.rialto_casa_souad_massi .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(22),
.rialto_casa_souad_massi .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(23),
.rialto_casa_souad_massi .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(24) {
    border-top: solid 1px #000;
    background: #fff !important;
    border-radius: 0;
}

.rialto_casa_souad_massi .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(18),
.rialto_casa_souad_massi .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(19),
.rialto_casa_souad_massi .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(20),
.rialto_casa_souad_massi .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(21),
.rialto_casa_souad_massi .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(22),
.rialto_casa_souad_massi .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(23),
.rialto_casa_souad_massi .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(24) {
    background: #fff !important;
    border-radius: 0;
}

.rialto_casa_souad_massi .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(18),
.rialto_casa_souad_massi .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(19),
.rialto_casa_souad_massi .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(20),
.rialto_casa_souad_massi .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(21),
.rialto_casa_souad_massi .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(22),
.rialto_casa_souad_massi .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(23),
.rialto_casa_souad_massi .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(24) {
    background: #fff !important;
    border-bottom: solid 1px #000;
    border-radius: 0;
}

.rialto_casa_souad_massi .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(18),
.rialto_casa_souad_massi .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(18),
.rialto_casa_souad_massi .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(18) {
    border-left: solid 1px #000;
    border-radius: 0;
}

.rialto_casa_souad_massi .seatCharts-row:nth-child(26) div.seatCharts-space:nth-child(24),
.rialto_casa_souad_massi .seatCharts-row:nth-child(27) div.seatCharts-space:nth-child(24),
.rialto_casa_souad_massi .seatCharts-row:nth-child(28) div.seatCharts-space:nth-child(24) {
    border-right: solid 1px #000;
    border-radius: 0;
}

.rialto_casa_souad_massi div.porte_1 {
    position: absolute;
    top: 484px;
    left: 164px;
    width: 410px;
    text-transform: uppercase;
    text-align: center;
}

.rialto_casa_souad_massi div.porte_2 {
    position: absolute;
    bottom: 15px;
    left: 164px;
    width: 410px;
    text-transform: uppercase;
    text-align: center;
}

.rialto_casa_souad_massi .seatCharts-row:nth-child(40) div.seatCharts-space:nth-child(18),
.rialto_casa_souad_massi .seatCharts-row:nth-child(40) div.seatCharts-space:nth-child(19),
.rialto_casa_souad_massi .seatCharts-row:nth-child(40) div.seatCharts-space:nth-child(20),
.rialto_casa_souad_massi .seatCharts-row:nth-child(40) div.seatCharts-space:nth-child(21),
.rialto_casa_souad_massi .seatCharts-row:nth-child(40) div.seatCharts-space:nth-child(22),
.rialto_casa_souad_massi .seatCharts-row:nth-child(40) div.seatCharts-space:nth-child(23),
.rialto_casa_souad_massi .seatCharts-row:nth-child(40) div.seatCharts-space:nth-child(24) {
    border-top: solid 1px #000;
    background: #fff !important;
    border-radius: 0;
}

.rialto_casa_souad_massi .seatCharts-row:nth-child(41) div.seatCharts-space:nth-child(18),
.rialto_casa_souad_massi .seatCharts-row:nth-child(41) div.seatCharts-space:nth-child(19),
.rialto_casa_souad_massi .seatCharts-row:nth-child(41) div.seatCharts-space:nth-child(20),
.rialto_casa_souad_massi .seatCharts-row:nth-child(41) div.seatCharts-space:nth-child(21),
.rialto_casa_souad_massi .seatCharts-row:nth-child(41) div.seatCharts-space:nth-child(22),
.rialto_casa_souad_massi .seatCharts-row:nth-child(41) div.seatCharts-space:nth-child(23),
.rialto_casa_souad_massi .seatCharts-row:nth-child(41) div.seatCharts-space:nth-child(24) {
    background: #fff !important;
    border-radius: 0;
}

.rialto_casa_souad_massi .seatCharts-row:nth-child(42) div.seatCharts-space:nth-child(18),
.rialto_casa_souad_massi .seatCharts-row:nth-child(42) div.seatCharts-space:nth-child(19),
.rialto_casa_souad_massi .seatCharts-row:nth-child(42) div.seatCharts-space:nth-child(20),
.rialto_casa_souad_massi .seatCharts-row:nth-child(42) div.seatCharts-space:nth-child(21),
.rialto_casa_souad_massi .seatCharts-row:nth-child(42) div.seatCharts-space:nth-child(22),
.rialto_casa_souad_massi .seatCharts-row:nth-child(42) div.seatCharts-space:nth-child(23),
.rialto_casa_souad_massi .seatCharts-row:nth-child(42) div.seatCharts-space:nth-child(24) {
    background: #fff !important;
    border-bottom: solid 1px #000;
    border-radius: 0;
}

.rialto_casa_souad_massi .seatCharts-row:nth-child(40) div.seatCharts-space:nth-child(18),
.rialto_casa_souad_massi .seatCharts-row:nth-child(41) div.seatCharts-space:nth-child(18),
.rialto_casa_souad_massi .seatCharts-row:nth-child(42) div.seatCharts-space:nth-child(18) {
    border-left: solid 1px #000;
    border-radius: 0;
}

.rialto_casa_souad_massi .seatCharts-row:nth-child(40) div.seatCharts-space:nth-child(24),
.rialto_casa_souad_massi .seatCharts-row:nth-child(41) div.seatCharts-space:nth-child(24),
.rialto_casa_souad_massi .seatCharts-row:nth-child(42) div.seatCharts-space:nth-child(24) {
    border-right: solid 1px #000;
    border-radius: 0;
}

.rialto_casa_souad_massi seatCharts-row div.seatCharts-space:first-child,
.rialto_casa_souad_massi .seatCharts-row div.seatCharts-space:last-child{
    height: 18px;
    line-height: 18px;
}

.rialto_casa_souad_massi div[role=checkbox], .rialto_casa_souad_massi div.seatCharts-cell.seatCharts-space {
    height: 18px;
    width: 18px;
}

.rialto_casa_souad_massi div.seat-container {
    width: 790px;
    margin: 0 auto;
}