#form-subscription-raja h2,
#form-subscription-raja .steps .current-info,
#form-subscription-raja .steps .number,
#form-subscription-raja .steps li.done,
#form-subscription-raja .steps li.disabled {
    display: none;
}

#form-subscription-raja .steps .current {
    margin: 15px 0 25px 0;
}

#form-subscription-raja .steps .current a {
    border-bottom: 1px solid #ff5722;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 0;
    color: #333;
}

#form-subscription-raja .actions {
    text-align: right;
}

#form-subscription-raja .actions li {
    display: inline-block;
    margin-top: 15px;
}

#form-subscription-raja .actions a {
    font-family: Roboto, 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: inherit;
    color: rgba(255, 255, 255, .87);
    outline: 0;
    outline-offset: 0;
    border: 0;
    border-radius: 2px;
    transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    min-width: 122px;
    padding: 10px 16px;
    line-height: 1.3;
    background-color: #50ab00;
    margin-left: 15px;
}

#form-subscription-raja .actions li.disabled a {
    background: #eee;
    color: #aaa;
}

#form-subscription-raja .actions li:last-child a {
    background-color: #2aafd2;
}