@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900,300italic,400italic');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,900');

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-size: 100%;
}

.orange .inqualifiables {
    display: none;
}

.yellow .inqualifiables {
    display: none;
}

body {
    overflow-x: hidden;
    color: #626467;
    letter-spacing: .01rem;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    background: rgba(242, 245, 247, 1);
}

.wrapper {
    font-size: 1em;
    line-height: 1.5em
}

@media (min-width: 43.75em) {
    .wrapper {
        font-size: 1em;
        line-height: 1.375
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}

/*------------------------------------*1.TYPO*------------------------------------*/
h1 {
    font-size: 2em;
    line-height: 1.25
}

@media (min-width: 43.75em) {
    h1 {
        font-size: 2.5em;
        line-height: 1.125
    }
}

@media (min-width: 56.25em) {
    h1 {
        font-size: 3em;
        line-height: 1.05
    }
}

h2 {
    font-size: 1.625em;
    line-height: 1.15384615
}

@media (min-width: 43.75em) {
    h2 {
        font-size: 2em;
        line-height: 1.25
    }
}

@media (min-width: 56.25em) {
    h2 {
        font-size: 2.25em;
        line-height: 1.25
    }
}

h3 {
    font-size: 1.375em;
    line-height: 1.13636364
}

@media (min-width: 43.75em) {
    h3 {
        font-size: 1.5em;
        line-height: 1.25
    }
}

@media (min-width: 56.25em) {
    h3 {
        font-size: 1.75em;
        line-height: 1.25
    }
}

h4 {
    font-size: 1.125em;
    line-height: 1.11111111
}

@media (min-width: 43.75em) {
    h4 {
        line-height: 1.22222222
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    color: #272630;
    font-weight: 700;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    moz-osx-font-smoothing: grayscale;
    webkit-font-smoothing: antialiased;
}

.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #000;
    text-decoration: none
}

.font-slab {
    font-family: 'Roboto Slab', serif;
}

a {
    color: #aacc4e
}

a:focus, a:hover {
    outline: 0;
    color: #353242;
    text-decoration: none
}

p {
    margin: 0 0 1.75em 0
}

p.small {
    color: #bababb;
    font-size: 14px;
}

h1 + ol, h1 + p, h1 + ul, h2 + ol, h2 + p, h2 + ul, h3 + ol, h3 + p, h3 + ul, h4 + ol, h4 + p, h4 + ul, h5 + ol, h5 + p, h5 + ul, h6 + ol, h6 + p, h6 + ul {
    padding-top: 0
}

ul {
    list-style: none
}

.strong, b, strong {
    color: #000;
    font-weight: 500;
}

/*------------------------------------*2.HELPERS*------------------------------------*/
.row-no-gutter {
    margin-right: 0;
    margin-left: 0;
}

.row-no-gutter [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.omega {
    padding-right: 0 !important;
}

.alpha {
    padding-left: 0 !important;
}

@media only screen and (max-width: 780px) {
    .omega {
        padding-right: 15px !important;
    }

    .alpha {
        padding-left: 15px !important;
    }

    .payment-logo {
        max-height: 30px;
        margin: 15px 0;
    }
}

/* ===HELPERS=== */
iframe, embed, object {
    max-width: 100%;
}

.valignWrap {
    display: table;
}

.valign {
    display: table-cell;
    vertical-align: middle;
}

.bg-light {
    background-color: #fafafa
}

.bg-white {
    background-color: #fff
}

.mBtm-50 {
    margin-bottom: 50px
}

.mBtm-45 {
    margin-bottom: 45px
}

.mBtm-40 {
    margin-bottom: 40px
}

.mBtm-30 {
    margin-bottom: 30px
}

.mBtm-20 {
    margin-bottom: 20px
}

.mBtm-10 {
    margin-bottom: 10px
}

.mTop-50 {
    margin-top: 50px
}

.mTop-30 {
    margin-top: 30px
}

.mTop-20 {
    margin-top: 20px
}

.mTop-10 {
    margin-top: 10px
}

.mTop-0 {
    margin-top: 0
}

.mTop-15 {
    margin-top: 15px
}

.pTB-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.margin-0 {
    margin: 0;
}

.bg-dark {
    background-color: #202529
}

.space-xs {
    padding-top: 15px;
    padding-bottom: 15px;
}

.space-sm {
    padding-top: 60px;
    padding-bottom: 60px;
}

.frameAll {
    padding: 18px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.frameLR {
    padding-left: 30px;
    padding-right: 30px;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.raised {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.color-green {
    color: #50ab00
}

.color-orange {
    color: #ff5722
}

.color-blue {
    color: #2aafd2
}

.bg-light {
    background-color: #F1F5F8;
}

.bg-blue-2 {
    background-color: #3c4759;
}

.bg-orange {
    background: #ff5722;
}

.bg-green {
    background: #50ab00;
}

.bg-blue {
    background: #2aafd2;
}

.shadow {
    box-shadow: 0px 2px 3px -1px rgba(151, 171, 187, 0.7)
}

/*------------------------------------Wrappers,Main content-------------------------------------*/
#inner-page {
    padding-top: 35px;
    margin-bottom: 50px;
}

/*------------------------------------*3.NAVIGATION*------------------------------------*/
.top-bar {
    padding: 10px 0 0;
    background: #071d39;
    color: #DBDBE5;
    font-size: 13px;
    border-bottom: 4px solid #f6a34b;
}

.top-bar p {
    margin: 0
}

.top-bar strong {
    color: #fff
}

.top-bar ul li a {
    color: #DBDBE5;
}

/*------------------------------------Nav wrapper-------------------------------------*/
#nav-wrap {
    background: #fff;
    width: 100%;
    border-bottom: 1px dashed #ededed;
}

/*------------------------------------Navbar-------------------------------------*/
.navbar.nav-white {
    background: #fff;
    border-color: transparent;
    color: #000;
    margin: 0;
}

.navbar.nav-white .navbar-collapse {
    background-color: #fff;
    border-color: #ededed;
}

.navbar.nav-white .navbar-text {
    color: #000;
}

.navbar.nav-white a.navbar-link {
    color: #000;
    background-color: transparent;
}

.navbar.nav-white a.navbar-link:hover, .navbar.nav-white a.navbar-link:focus {
    color: #000;
    background-color: transparent;
}

.navbar.nav-white .navbar-brand {
    color: #000;
    background-color: #fff;
    display: block;
}

.navbar.nav-white .navbar-brand:hover, .navbar.nav-white .navbar-brand:focus {
    color: #000;
    background-color: #fff;
}

.navbar.nav-white .navbar-toggle {
    border-color: #ededed !important;
    background-color: #fff;
}

.navbar.nav-white .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar.nav-white .navbar-toggle:hover, .navbar.nav-white .navbar-toggle:focus {
    border-color: #ededed !important;
    background-color: #3c4759 !important;
}

.navbar.nav-white .navbar-toggle:hover .icon-bar, .navbar.nav-white .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

.navbar.nav-white .form-control {
    color: #000;
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar.nav-white .form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px transparent, 0 0 5px #ffffff;
    box-shadow: inset 0 1px 1px transparent, 0 0 5px #ffffff;
}

.navbar.nav-white .navbar-nav > li[class*="dropdown"].dropdown-onhover:hover > a, .navbar.nav-white.dropdown-onhover .navbar-nav > li:hover > a[class*="dropdown"] {
    background-color: #f2f2f2;
}

.navbar.nav-white .navbar-nav > li > a {
    color: #071d39;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0px;
}

.navbar.nav-white .navbar-nav > li > a i {
    font-size: 15px
}

@media (max-width: 768px) {
    .navbar.nav-white .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.navbar.nav-white .navbar-nav > li > a:focus {
    color: #000;
    background-color: #f7f8fa;
}

.navbar.nav-white .navbar-nav > li > a:hover {
    color: #222;
    background-color: #f7f8fa;
}

.navbar.nav-white .navbar-nav > li.open > a {
    color: #000;
    background-color: rgba(248, 247, 250, 0.79);
}

.navbar.nav-white .navbar-nav > li.open > a:hover, .navbar.nav-white .navbar-nav > li.open > a:focus {
    color: #000;
    background-color: rgba(248, 247, 250, 0.79);
}

.navbar.nav-white .navbar-nav > li.active > a {
    color: #e41b13;
    background-color: #f7f8fa;
}

.navbar.nav-white .navbar-nav > li.active > a:hover, .navbar.nav-white .navbar-nav > li.active > a:focus {
    color: #000;
    background-color: #ededed;
}

.navbar.nav-white .navbar-nav > li.disabled > a {
    color: #ffffff;
    background-color: #fff;
}

.navbar.nav-white .navbar-nav > li.disabled > a:hover, .navbar.nav-white .navbar-nav > li.disabled > a:focus {
    color: #ffffff;
    background-color: #fff;
}

.navbar.nav-white .dropdown-menu {
    background: #ffffff;
    color: #000;
    border-color: #fff;
    -webkit-box-shadow: 0px 2px 3px -1px rgba(151, 171, 187, 0.7);
    box-shadow: 0px 2px 3px -1px rgba(151, 171, 187, 0.7);
}

.navbar.nav-white .navbar-nav > li[class*="dropdown"].dropdown-onhover:hover, .navbar.nav-white.dropdown-onhover .navbar-nav > li[class*="dropdown"]:hover {
    background-color: #fff;
}

.navbar.nav-white .btn-default {
    color: #ffffff;
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar.nav-white .btn-default:hover, .navbar.nav-white .btn-default:focus, .navbar.nav-white .btn-default:active, .navbar.nav-white .btn-default.active {
    color: #ffffff;
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar.nav-white .dropdown-menu .btn-default {
    color: #ffffff;
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar.nav-white .dropdown-menu .btn-default:hover, .navbar.nav-white .dropdown-menu .btn-default:focus, .navbar.nav-white .dropdown-menu .btn-default:active, .navbar.nav-white .dropdown-menu .btn-default.active {
    color: #ffffff;
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar.nav-white .dropdown-menu li.dropdown-header {
    color: #ffffff;
}

.navbar.nav-white *:not(li) > a {
    color: #62A2D8;
}

.navbar.nav-white *:not(li) > a:hover, .navbar.nav-white *:not(li) > a:focus {
    color: #44A5FF;
}

.navbar.nav-white .dropdown-menu > li > a {
    color: #7D8693;
    background-color: #ffffff;
}

.navbar.nav-white .dropdown-menu > li > a:hover, .navbar.nav-white .dropdown-menu > li > a:focus {
    color: #000;
    background-color: #fff;
}

.navbar.nav-white .navbar-nav > li .dropdown-menu:not( [class*="collaps"]  ) {
    background-color: #ffffff;
    color: #000;
    border-color: #fff;
    -webkit-box-shadow: 0px 2px 3px -1px rgba(151, 171, 187, 0.7);
    box-shadow: 0px 2px 3px -1px rgba(151, 171, 187, 0.7);
}

.navbar.nav-white .dropdown-menu input::-webkit-input-placeholder,
.navbar.nav-white .dropdown-menu textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.navbar.nav-white .dropdown-menu input:-moz-placeholder,
.navbar.nav-white .dropdown-menu textarea:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.navbar.nav-white .dropdown-menu input::-moz-placeholder,
.navbar.nav-white .dropdown-menu textarea::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.navbar.nav-white .dropdown-menu input:-ms-input-placeholder,
.navbar.nav-white .dropdown-menu textarea:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.navbar.nav-white .dropdown-menu .form-control {
    color: #ffffff;
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar.nav-white .dropdown-menu .form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px transparent, 0 0 5px #ffffff;
    box-shadow: inset 0 1px 1px transparent, 0 0 5px #ffffff;
}

.navbar.nav-white .navbar-nav .dropdown-menu li:not(.list-group) > a {
    color: #7D8693;
    background-color: #ffffff;
    padding: 5px 20px;
    font-weight: 300;
}

.navbar.nav-white .navbar-nav .dropdown-menu li:not(.list-group) > a:hover,
.navbar.nav-white .navbar-nav .dropdown-menu li:not(.list-group) > a:focus {
    color: #000;
    background-color: #fff;
}

.navbar.nav-white .navbar-nav .dropdown-menu li.active > a {
    color: #ffffff;
    background-color: #fff;
}

.navbar.nav-white .navbar-nav .dropdown-menu li.active > a:hover, .navbar.nav-white .navbar-nav .dropdown-menu li.active > a:focus {
    color: #ffffff;
    background-color: #fff;
}

.navbar.nav-white .navbar-nav .dropdown-menu li[class*="-onhover"]:hover > a {
    color: #000;
    background-color: #fff;
}

.navbar.nav-white .navbar-nav .dropdown-menu li.open > a,
.navbar.nav-white .navbar-nav .dropdown-menu li:not(.no-fix) > a.dropdown-toggle:not(.collapsed) {
    color: #ffffff;
    background-color: #fff;
}

.navbar.nav-white .navbar-nav .dropdown-menu li.open > a:hover,
.navbar.nav-white .navbar-nav .dropdown-menu li.open > a:focus,
.navbar.nav-white .navbar-nav .dropdown-menu li:not(.no-fix) > a.dropdown-toggle:not(.collapsed):hover,
.navbar.nav-white .navbar-nav .dropdown-menu li:not(.no-fix) > a.dropdown-toggle:not(.collapsed):focus {
    color: #ffffff;
    background-color: #fff;
}

.navbar.nav-white .navbar-nav .dropdown-menu li.disabled > a {
    color: #ffffff;
    background-color: #ffffff;
}

.navbar.nav-white .navbar-nav .dropdown-menu li.disabled > a > span.desc {
    color: #ffffff;
}

.navbar.nav-white .navbar-nav .dropdown-menu li.disabled > a:hover > span.desc {
    color: #ffffff;
}

.navbar.nav-white .navbar-nav .dropdown-menu li.disabled > a:hover, .navbar.nav-white .navbar-nav .dropdown-menu li.disabled > a:focus {
    color: #ffffff;
    background-color: #ffffff;
}

.navbar.nav-white .navbar-nav li:not(.dropdown) > ul.dropdown-menu.bordered:not(.no-padding):after,
.navbar.nav-white .navbar-nav li:not(.dropdown) > .dropdown-grid-wrapper > ul.dropdown-menu.bordered:not(.no-padding):after {
    outline-color: #ffffff;
}

.navbar.nav-white .navbar-nav > li.divider {
    background-color: #ffffff;
}

.navbar.nav-white .dropdown-menu li.divider,
.navbar.nav-white .navbar-nav .v-divided > *:before,
.navbar.nav-white .navbar-nav .v-divided > *:after,
.navbar.nav-white .navbar-nav .h-divided > *:after,
.navbar.nav-white .navbar-nav .h-divided > *:first-child:before,
.navbar.nav-white .navbar-nav .h-divider:after {
    background-color: #ffffff;
}

.navbar.nav-white .navbar-nav .divided > *:before {
    border-color: #ffffff;
}

@media (max-width: 767px) {
    .navbar.nav-white .navbar-nav .dropdown-menu .divider {
        background-color: #ffffff;
    }

    .navbar.nav-white .navbar-collapse > .navbar-form,
    .navbar.nav-white .navbar-collapse > a.navbar-link,
    .navbar.nav-white .navbar-collapse > .navbar-text,
    .navbar.nav-white .navbar-collapse .navbar-nav > .navbar-form,
    .navbar.nav-white .navbar-collapse .navbar-nav > li,
    .navbar.nav-white .navbar-collapse .navbar-nav > .navbar-text,
    .navbar.nav-white .navbar-collapse .navbar-nav > a.navbar-link,
    .navbar.nav-white .navbar-collapse .navbar-nav > .navbar-form {
        border-bottom-color: #eeeeee !important;
        -webkit-box-shadow: 0 1px 0 #ffffff !important;
        box-shadow: 0 1px 0 #ffffff !important;
    }

    .navbar.nav-white .navbar-nav > li > .dropdown-grid-wrapper > .dropdown-menu,
    .navbar.nav-white .navbar-nav > li > .dropdown-menu {
        border-top-color: #ffffff !important;
        -webkit-box-shadow: 0 -1px 0 #ededed !important;
        box-shadow: 0 -1px 0 #ededed !important;
    }
}

/*------------------------------------Affix-------------------------------------*/
#header.affix {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

/*------------------------------------Logo-------------------------------------*/
.navbar-brand {
    float: left;
    padding: 10px 0;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand img {
    float: left;
    max-width: 218px;
    transition: all 0.5s ease-out;
    margin: 6px 0;
}

@media only screen and (max-width: 768px) {
    .navbar-brand img {
        max-width: 120px;
        margin: 0;
    }
}

.search-form {
    padding: 34px 0 25px;
    border-bottom: 1px dashed #ededed;
    box-shadow: 0px 2px 3px -1px rgba(151, 171, 187, 0.17);
}

.search-form .btn {
    padding: 13px;
}

.slider {
    padding-top: 20px;
    padding-bottom: 0;
}

.front-page .site-wrapper {
    background-image: url("../images/site-bg.jpg");
    background-repeat: no-repeat;
    background-position-y: 83px;
    background-position-x: center;
}

.front-page.scrolled .site-wrapper {
    background-position-y: -5px;
}

/*------------------------------------4.POSTS-------------------------------------*/
.entry-sm, .entry-lg, .entry-xl {
    overflow: hidden;
    position: relative;
}

.entry-xs {
    height: 205px;
    margin-bottom: 30px;
}

.entry-sm {
    height: 285px;
    margin-bottom: 30px;
}

.entry-lg {
    height: 520px;
}

.entry-xl {
    height: 700px;
}

@media only screen and (max-width: 768px) {
    .entry-xl {
        height: 500px;
    }

    .entry-lg {
        margin-bottom: 15px;
        /*height: 430px;*/
    }

    .bg-image.entry-lg {
        margin-bottom: 0px;
        height: 200px;
    }

    #footer img.logo {
        margin: 0 auto 30px auto;
    }
}

@media only screen and (max-width: 568px) {
    .entry-xl {
        height: 350px;
    }
}

/* ENTRY */
.entry-deal {
    padding: 10px;
    border: 1px solid #ededed;
}

.entry-deal h2 {
    font-size: 18px;
}

.entry-media {
    height: 250px;
    position: relative;
    display: block
}

.deal-entry {
    padding: 0 0 0;
    float: left;
    width: 100%;
    background-color: #FFF;
    zoom: 1;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0px 2px 3px -1px rgba(151, 171, 187, 0.7);
    transition: all .3s;
}

.category-feed .deal-entry {
    width: 97%;
}

.deal-entry:hover {
    box-shadow: 0px 1px 10px -1px rgba(151, 171, 187, 0.7);
}

.deal-entry .image {
    margin: 0;
    max-width: 100%;
    display: block;
    position: relative;
}

.deal-entry .bought {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    color: #FFFFFF;
    padding: 2px 15px;
    font-size: 13px;
}

.deal-entry .title {
    padding: 20px 15px 20px 15px;
    margin: 0;
    color: #000;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFF;
    overflow: hidden;
    min-height: 124px;
}

.deal-entry.green .offer-discount, .deal-entry.green .bought {
    background-color: #50ab00;
}

.deal-entry.green .title {
    border-left: 5px solid #50ab00;
}

.deal-entry.purple .offer-discount, .deal-entry.purple .bought {
    background-color: #c904eb;
}

.deal-entry.purple .title {
    border-left: 5px solid #c904eb;
}

.deal-entry.orange .title {
    border-left: 5px solid #ff5722;
}

.deal-entry.orange .offer-discount, .deal-entry.orange .bought {
    background-color: #ff5722;
}

.deal-entry.orange .title {
    border-left: 5px solid #FF5722;
}

.deal-entry.blue .offer-discount, .deal-entry.blue .bought {
    background-color: #2aafd2;
}

.deal-entry.blue .title {
    border-left: 5px solid #2aafd2;
}

.deal-entry .title a {
    color: #272630;
    text-decoration: none;
}

.green .deal-entry .title a:hover {
    color: #50ab00;
}

.purple .deal-entry .title a:hover {
    color: #c904eb;
}

.orange .deal-entry .title a:hover {
    color: #ff5722;
}

.red .deal-entry .title a:hover {
    color: #FF0623;
}

.blue .deal-entry .title a:hover {
    color: #2aafd2;
}

.yellow .deal-entry .title a:hover {
    color: #ffc000;
}

.deal-entry .prices {
    padding: 0 0 10px 0;
    margin: 0;
    display: block;
}

.deal-entry .procent {
    padding: 0;
    margin: 0;
    font-size: 29px;
    line-height: 30px;
    float: left;
    color: #ff5722;
    font-weight: 500;
}

.deal-entry.green .procent {
    color: #50ab00;
}

.deal-entry.purple .procent {
    color: #c904eb;
}

.deal-entry.orange .procent {
    color: #FF0623;
}

.deal-entry.blue .procent {
    color: #2aafd2;
}

.discount-red {
    background: #ff5722;
}

.discount-green {
    background: #50ab00;
}

.discount-blue {
    background: #2aafd2;
}

.deal-entry .price {
    padding: 0;
    margin: 0;
    color: #333;
    font-size: 14px;
    line-height: 30px;
    float: right;
}

.deal-entry .price b {
    color: #333;
    font-size: 19px !important;
}

.deal-entry .old-price {
    padding: 0 8px 0 0;
    margin: 0;
    color: #B4B4B4;
    line-height: 30px;
    text-align: right;
    float: right;
}

.deal-entry .old-price span {
    font-size: 14px;
    text-decoration: line-through;
}

@media (max-width: 990px) {
    .deal-entry .old-price span {
        font-size: 11px;
    }
}

.deal-entry .info {
    padding: 8px 0 0;
    margin: 0 8px;
    border-top: 1px solid #E6E7E7;
    font-size: 12px;
}

.deal-entry.deal-sm .info_bar ul li:last-child {
    width: 50%;
}

.deal-entry.deal-sm .info_bar .info_link .btn {
    padding: 5px 8px;
    width: 75px;
}

.deal-entry.result-entry .info_bar {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.deal-entry .info_bar {
    border-top: 1px solid #ededed;
    font-size: 12px;
    padding: 10px 5px;
    background: #f7f8fa;
}

.deal-entry .info_bar ul {
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: flex-start;
    display: flex;
}

.deal-entry .info_bar ul li {
    text-align: left;
    word-wrap: break-word;
}

.deal-entry .info_bar b {
    padding-right: 0px;
    font-size: 16px;
}

.deal-entry .info_bar .person {
    padding: 5px 8px 0 5px;
    border-right: 1px dashed #ededed;
}

.deal-entry .info_bar .info_link {
    text-align: center;
}

.deal-entry .info_bar .info_link .btn {
    font-size: 14px;
    text-transform: capitalize;
}

.deal-entry .info_bar .time {
    padding: 5px 8px 0px 0px;
}

.deal-entry .info_bar i {
    padding-right: 0px
}

.product-page-meta {
    padding: 30px;
}

.entry-content {
    padding: 10px 15px 10px;
    overflow: hidden;
}

.offer-discount {
    position: absolute;
    top: -9px;
    z-index: 2;
    min-height: 55px;
    min-width: 55px;
    left: -9px;
    border: 1px DASHED #fff;
    text-align: center;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: #fff !important;
    line-height: 24px;
    text-transform: uppercase;
    padding: 15px 0 0 0;
    box-shadow: 0 1px 3px 0 rgba(160, 158, 169, 0), 0 1px 2px 0 rgba(140, 139, 152, 0.13);
}

.divider {
    background-color: #eaedf2;
}

.divider {
    position: relative;
    width: 1px;
    height: 100%;
}

/* Small entry for sidebars,no full description */
.deal-entry-sm .image .bought {
    position: absolute;
    top: 0;
    right: 0;
    bottom: inherit;
}

.deal-entry-sm .image .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 15px 10px;
    background: linear-gradient(0deg, rgba(36, 27, 36, 0.76) 0, rgba(34, 34, 44, 0) 100%);
    color: #fff;
}

.deal-entry-sm .image .caption h5 a, .deal-entry-sm .image .caption h4 a, .deal-entry-sm .image .caption h3 a {
    color: #fff
}

.deal-entry-sm .image .caption p {
    margin-bottom: 5px
}

.deal-entry-sm .info_bar {
    background-color: #fff;
    padding: 15px 15px 5px;
}

/* RESULTS ENTRY */
.result-entry .entry-left {
    padding: 0
}

.result-entry .entry-left .image {
    height: 255px;
}

.result-entry .entry-right {
    position: relative;
    min-height: 255px;
}

.result-entry .entry-right .title {
    font-size: 20px;
    margin: 10px 0;
}

/*------------------------------------Post Comments-------------------------------------*/
.blog-comments img {
    width: 80px;
    height: auto;
    height: 80px;
    border-radius: 50%;
}

.blog-comments .comments-itself {
    position: relative;
}

.blog-comments .comments-itself h4 {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-size: 12px;
}

.blog-comments .comments-itself span {
    float: right;
    color: #000;
    font-size: 10px;
}

.blog-comments .comments-itself span a {
    padding: 3px 8px;
    border-radius: 3px;
    background: #EFF1F5;
    color: #000;
}

.blog-comments .comments-itself p {
    color: #555;
}

/*Comments Reply*/
.blog-comments.blog-comments-reply {
    margin-left: 70px;
}

/*Media Queries*/
@media (max-width: 768px) {
    .blog-comments .comments-itself:before {
        display: none;
    }

    .blog-comments .comments-itself:after {
        position: absolute;
        top: -17px;
        left: 20px;
        width: 0;
        height: 0;
        border-width: 0 15px 17px 15px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
        content: " ";
    }
}

hr {
    position: relative;
    clear: both;
    margin-top: 30px;
    margin-bottom: 50px;
    outline: none;
    border-top: 1px solid #ededed;
}

hr.no-text {
    margin-bottom: 20px
}

hr:before {
    padding: 3px 0;
    border-top: 1px solid #ff5722;
    color: inherit;
    color: #000;
    content: attr(data-symbol);
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 14px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hr-link {
    position: relative
}

.hr-link .view-all {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
}

.hr-link .view-all a {
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.hr-link .view-all a:hover {
    color: #000;
}

.hr-link .view-all a i {
    margin-bottom: 2px;
}

.hr-grid-space {
    margin: 10px 0 55px;
}

/* stop the glowing blue shadow */
.add-on .form-control:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    display: block;
    padding: 5px 10px;
    width: 100%;
    height: 43px;
    border: 1px solid #ededed;
    border-radius: 0;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    color: #000;
    font-size: 14px;
    line-height: 1.42857143;
}

@media only screen and (max-width: 768px) {
    .form-group, select {
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

textarea {
    overflow: auto;
    border: 1px solid #ededed;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
    color: initial;
}

/* SOCILA ICONS */
.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
}

.social li {
    display: inline-block;
    margin-right: 6px;
    font-size: 14px;
}

.social li a i {
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.social-btn.social-twitter i {
    border: 1px solid #00aced;
    color: #00aced;
}

.social-btn.social-twitter i:hover {
    background-color: #00aced;
    color: #fff
}

.social-btn.social-google i {
    border: 1px solid #dd4b39;
    color: #dd4b39;
}

.social-btn.social-google i:hover {
    background-color: #dd4b39;
    color: #fff;
}

.social-btn.social-instagram i {
    border: 1px solid #a1d297;
    color: #a1d297;
}

.social-btn.social-instagram i:hover {
    background-color: #a1d297;
    color: #fff;
}

.social-btn.social-linkedin i {
    border: 1px solid #0976b4;
    color: #0976b4;
}

.social-btn.social-linkedin i:hover {
    background-color: #0976b4;
    color: #fff
}

.social-btn.social-facebook i {
    border: 1px solid #3b5999;
    color: #3b5999;
}

.social-btn.social-facebook i:hover {
    background-color: #3b5999;
    color: #fff
}

.social-btn.social-pinterest i {
    border: 1px solid #c8232c;
    color: #c8232c;
}

.social-btn.social-pinterest i:hover {
    background-color: #c8232c;
    color: #fff;
}

#tabs {
    padding-top: 30px;
}

.tab-content {
    padding: 20px 0 10px;
}

.nav-tabs, .nav-pills {
    position: relative;
}

.nav-tabs {
    border-top: 1px solid #ededed;
    border-bottom: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: transparent;
    border-top: 1px solid #ff5722;
    background-color: #F1F5F8;
    color: #000;
    cursor: default;
}

.nav-tabs > li > a {
    margin-right: 2px;
    border: 1px solid transparent;
    border-radius: 0;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 12px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border: 1px solid #ff5722;
    background-color: #ff5722;
    color: #fff
}

.nav-tabs .dropdown .caret {
    display: none
}

.dropdown-menu {
    border: 1px solid #ededed;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    border-color: #F1F5F8;
    background-color: #F1F5F8;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    outline: 0;
    background-color: #95D725;
    color: #fff;
    text-decoration: none;
}

/* TAGS */
.tags {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tags li {
    float: left;
}

.tag {
    position: relative;
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 0 20px 0 23px;
    height: 26px;
    border-radius: 3px 0 0 3px;
    background: #EFF1F5;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    -webkit-transition: all 0.4s;
}

.tag::before {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background: #fff;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    -webkit-transition: all 0.4s;
}

.tag::after {
    position: absolute;
    top: 0;
    right: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #EFF1F5;
    background: #fff;
    content: '';
    -webkit-transition: all 0.4s;
}

.tag:hover {
    background-color: #aacc4e;
    color: white;
}

.tag:hover::after {
    border-left-color: #aacc4e;
}

/* ===FOOTER=== */
#footer {
    padding-top: 60px;
    background: #fff;
    border-top: 1px dashed #ededed;
}

#footer img.logo {
    margin-bottom: 30px;
    max-width: 320px;
}

#footer h5 {
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#footer a {
    color: #272630;
}

#footer .btmFooter {
    margin-top: 0px;
    padding: 25px 0;
    border: 1px dashed #ededed;
}

#footer .btmFooter p {
    margin: 10px 0 0;
    font-size: 12px;
}

#footer .btmFooter p i {
    margin: 0 5px 0 5px;
    color: #F00;
    font-size: 13px;
}

#footer strong {
    color: #000
}

#footer .footer-widget {
    margin-bottom: 30px;
}

video {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 320px) {
}

.kodo-container {
}

.kodo-container .grid-sizer {
    padding: 0;
    min-height: 1px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ededed;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #F1F5F8;
}

.table-hover > tbody > tr:hover {
    background-color: #F1F5F8;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border: 1px solid #ededed;
}

.alert {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0;
    color: #3D3B71
}

.alert-success {
    background-color: #A7DB28;
    border-color: #A7DB28;
}

.alert-info {
    background-color: #7BC7ED;
    border-color: #73C0E7;
}

.alert-warning {
    background-color: #EEF24A;
    border-color: #E9ED42;
}

.alert-danger {
    color: #FFFFFF;
    background-color: #F4556D;
    border-color: #E7465E;
}

.panel {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
}

.panel-default {
    border-color: transparent;
    margin: 0;
}

.panel-default > .panel-heading {
    background-color: #F1F5F8;
    padding: 20px 15px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
    font-weight: 300;
}

/* Custom, iPhone Retina */
.bordered {
    border-right: 1px dashed #ededed;
    border-bottom: 1px dashed #ededed;
    border-top: 1px dashed #ededed
}

.buyPanel {
    height: 100%;
    min-height: 100%;
}

.buyPanel .content {
    padding: 15px 20px 0 20px;
}

#inner-page .buyPanel .content {
    padding: 25px 0;
}

.buyPanel .content .deal-content h1 {
    margin-top: 0;
    font-size: 23px;
    line-height: 1.25;
}

.deal-price {
    margin: 15px 0;
}

.deal-price .buy-now {
    float: right
}

.deal-price .price h3 {
    margin: 4px 0;
    line-height: 1.05;
}

/* DEAL ATTRIBUTES */
.valueInfo {
}

.valueInfo div {
    border-right: 1px solid rgb(237, 237, 237);
    display: inline-block;
    font-size: 12px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    width: 32%;
    padding: 5px 0px;
}

.valueInfo div {
    border-right: 1px solid rgb(237, 237, 237);
    display: inline-block;
    font-size: 12px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0px;
}

.valueInfo div p {
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.valueInfo div p.text {
    color: inherit;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
}

.valueInfo div {
    display: inline-block;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 0px;
}

.valueInfo div.save {
    border-right: 0px;
}

.timeLeft {
    text-align: center;
    margin: 10px 0;
    padding: 15px 0
}

.timeLeft p {
    margin: 0 0 10px 0;
    font-size: 14px;
    text-transform: uppercase;
}

.timeLeft .time {
    font-size: 22px;
}

.statistic {
    margin: 10px 0 0;
    font-size: 12px;
    text-align: center;
}

.timeLeft .time i, #buyPanel .content .statistic i, #buyPanel .content .statistic b {
    padding-right: 4px;
}

.deal-short-entry {
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 20px 20px 0;
    width: 80%;
    color: #FFF;
}

.inner-side {
    background-color: #fff;
    padding: 10px 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.widget {
    margin-bottom: 35px;
}

.widget-inner {
    padding: 20px 15px
}

.widget address p {
    margin: 0 0 10px 0;
}

/* Sidebar nav */
.sidebar .sidebar-nav {
    margin: 0;
    padding: 0;
    background: #fff;

}

.sidebar .sidebar-nav li {
    position: relative;
    list-style-type: none;
}

.sidebar .sidebar-nav li i {
    padding-right: 10px;
    color: #272630;
}

.sidebar .sidebar-nav li a {
    position: relative;
    cursor: pointer;
    user-select: none;
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0;
    padding-left: 16px;
    padding-right: 56px;
    text-decoration: none;
    clear: both;
    font-weight: 400;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: inherit;
    border: 1px dashed #ededed;
    /* background-color: #F1F5F8;
    */
}

.sidebar .sidebar-nav li a:last-child {
    border-top: 0;
}

.sidebar .sidebar-nav li a:hover, .sidebar .sidebar-nav li a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.sidebar .sidebar-nav li a .caret {
    position: absolute;
    right: 37px;
    top: 23px;
}

.sidebar .sidebar-nav li a .sidebar-badge {
    position: absolute;
    right: 16px;
    top: 0;
}

.sidebar .sidebar-nav li a:hover {
    background: transparent;
}

.sidebar .sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar .sidebar-nav .dropdown.open {
    background-color: #F1F5F8
}

/* NEWSLETTER */
.newsletter {
    padding-top: 27px;
}

.newsletter button, .newsletter .form-control {
    height: 50px;
}

/* Rating entry */
.entry-rating .media-body ul {
    margin: 0
}

.entry-rating .media-body ul li {
    padding: 0 10px 0 0px;
}

.entry-rating .stars {
    margin: 8px 0 2px;
}

.entry-rating .stars i, .stars i {
    margin: 0;
    color: #F4D819;
}

.entry-rating .stars .disabled {
    color: #CCCCD5;
}

.entry-rating .media-body .price {
    font-size: 17px;
    font-weight: 500;
    color: #000;
}

.entry-rating .media-body .price.line-trough {
    text-decoration: line-through;
    font-size: 13px;
    color: inherit;
    font-weight: inherit;
}

.smallFrame {
    padding: 18px 15px;
    margin: 20px 0;
}

.smallFrame i {
    position: absolute;
    font-size: 30px;
    color: #9AB84B;
}

.smallFrame .content {
    margin-left: 55px;
    margin-top: 7px;
    margin-bottom: 3px;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

/* CART---------------------------------------------------------- */
.cart {
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    margin-top: 40px;
}

.cart-buttons .btn {
    width: 46%;
    padding: 15px 0;
    float: right;
    margin-left: 20px;
}

/* CART CONTENTS---------------------------------------------------------- */
table.cart-contents {
    width: 100%;
    margin: 0;
    background-color: #fff;
}

table.cart-contents thead {
    border-bottom: 1px solid #ededed;
}

table.cart-contents thead th {
    margin: 0;
    font-size: 16px;
}

table.cart-contents tbody tr {
    border-bottom: 1px solid #ededed;
}

table.cart-contents tbody tr:hover {
    background: #FCFCFC;
}

table.cart-contents th, table.cart-contents td {
    padding: 20px;
    border-left: 1px solid #ededed;
}

table.cart-contents th:first-child, table.cart-contents td:first-child {
    border-left: none;
}

table.cart-contents td {
    vertical-align: top;
}

table.cart-contents .image {
    width: 12%;
}

table.cart-contents .image img {
    width: 100%;
    height: auto;
}

table.cart-contents .details .rating {
    margin-bottom: 10px;
}

table.cart-contents .details .rating i {
    color: #F2CF1C;
}

table.cart-contents .details .title {
    display: block;
    color: #333;
    font-size: 14px;
    text-transform: capitalize;
    margin: 0 0 10px 0;
}

table.cart-contents .details span {
    display: block;
    margin: 0 0 5px 0;
    line-height: 1;
    font-size: 12px;
}

table.cart-contents .action {
    width: 110px;
}

table.cart-contents .action button {
    float: left;
    border: none;
    text-align: center;
    padding: 0;
    width: 33%;
    line-height: 30px;
    margin-top: 10px;
}

table.cart-contents .qty {
    width: 9%;
}

table.cart-contents .qty input {
    border: 1px solid #ededed;
    height: 30px;
    padding: 0;
    width: 100%;
    text-align: center;
}

table.cart-contents .unit-price, table.cart-contents .total-price {
    width: 14%;
    font-size: 16px;
    color: #000;
    font-weight: normal;
}

table.cart-contents .total-price {
    color: #000000;
    font-weight: 500;
}

table.cart-contents .currency {
    margin-right: 3px;
}

/* CART SUMMARY---------------------------------------------------------- */
.cart-summary.terms {
    padding: 0 35px;
    color: inherit;
    width: 72%;
    vertical-align: middle;
}

.cart-summary.terms h5 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

.cart-summary.terms h5 .fa {
    margin-right: 10px;
    color: #ccc;
    font-size: 20px;
    vertical-align: middle;
}

.totals {
    width: 28%;
    border-left: 1px solid #ededed;
    vertical-align: top;
}

.cart-totals {
    width: 100%;
    height: 100%;
}

.cart-totals tr {
    border-bottom: 1px solid #ddd;
}

.cart-totals tr:last-child {
    border: none;
}

.cart-totals td {
    border-left: 1px solid #ededed;
    width: 49%;
    padding: 17px 20px;
    color: inherit;
}

.cart-totals td:first-child {
    border-left: none;
}

.cart-totals td.cart-total {
    font-size: 20px;
    color: #333;
    padding: 20px;
}

.cart-totals td.cart-total.price {
    color: #000000;
    font-weight: 500;
}

@media (max-width: 767px) {
    table.cart-contents thead h5 {
        margin: 0;
        font-size: 14px;
    }

    table.cart-contents .total-price {
        width: 25%;
        font-size: 12px;
    }

    table.cart-contents .qty {
        width: 15%;
    }

    table.cart-contents .qty input {
        padding: 5px 0;
    }

    table.cart-contents th, table.cart-contents td {
        padding: 15px;
        border-right: 1px solid #ededed;
    }

    table.cart-contents .currency {
        margin-right: 0;
    }

    table.cart-contents .action {
        margin-top: 15px;
        float: none !important;
    }

    .cart-buttons .btn {
        display: block;
        float: none;
        margin: 0 0 20px 0;
        width: 100%;
    }

    .cart-summary .terms {
        display: none;
    }

    .cart-totals td {
        width: 40%;
    }

    .cart-totals td.price {
        width: 40%;
    }
}

/* PAYOUTS */
.pay-opt li a img {
    max-width: 40px;
}

.side-details {
    padding-top: 10px;
    padding-bottom: 35px;
}

.content ul {
    list-style-type: none
}

.content ol {
    margin-left: 30px
}

.content ul.tick li {
    background: url('../images/tick.png') no-repeat 0 2px;
    padding-left: 30px;
    margin-bottom: 10px
}

.content ul.tick ul {
    padding-top: 10px
}

.content ul.tick ul, .content ol ol, .content ol ul, .content ul.tick ol {
    margin-bottom: 0
}

/* COMMENTS */
.comment-avatar {
    width: 50px;
    float: left;
    margin: 0 15px 0 0;
}

.comment-avatar img {
    width: 50px;
    border-radius: 100%;
    display: block;
    height: 50px;
}

.comment h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

.comment-content {
    overflow: hidden;
    padding: 10px 0;
}

.media.media-sm img {
    width: 115px;
    height: auto;
    display: block;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.modal-content {
    border-radius: 0;
    border: 1px solid #ededed;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer .btn-default {
    color: #333;
    background-color: #fff;
    border: solid 1px #ccc;
}

.panel .panel-collapse .collapse {
    transition: transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;
}

/* *======= CTA 1 / Call to action box ==========*==================================================================================================== */
.cta-main {
    margin-top: 90px;
}

.cta-box {
    padding: 25px 30px;
    background-color: #071d39;
    color: #AFACBB;
    margin-top: 50px;
}

.cta-box h3 {
    line-height: 24px;
    color: #FFF;
    font-weight: 700;
}

.cta-box p {
    /* color: #fff */
}

.cta-box a.btn {
    margin-top: 24px;
}

.cta-grey {
    background: #f1f1f1;
}

@media handheld, only screen and (max-width: 767px) {
    .cta-box {
        text-align: center;
    }

    .cta-box a.btn {
        margin: 25px 0;
    }
}

/* Icon Box ========================================================================== */
.banner {
    background-image: url("../images/banner-bg.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
}

.box-icon {
    padding: 15px 0;
}

.box-icon .icon-wrap {
    float: left;
    font-size: 40px;
    margin-top: 0px;
}

.box-icon .text {
    overflow: hidden;
    padding-left: 20px;
}

.box-icon .text h4 {
    font-size: 21px;
    margin: 5px 0 5px;
    font-weight: 500;
}

.box-icon .text span {
    font-weight: 700;
}

.box-icon .text p {
    margin-bottom: 2px;
    font-size: 13px;
    text-align: justify;
    line-height: 16px;
}

.l-element {
    width: 80%;
    margin: 0 auto;
}

@media handheld, only screen and (max-width: 767px) {
    .box-icon .text {
        padding-left: 10px;
    }

    .l-element {
        width: 100%;
        margin: 0 auto;
    }

    .banner {
        padding-bottom: 15px;
    }
}

/* CREDIT CARD DIV STYLES - MODAL */
.credit-card-div span {
    padding-top: 10px;
}

.credit-card-div img {
    padding-top: 48px;
    height: 89px;
}

.credit-card-div .small-font {
    font-size: 9px;
}

.credit-card-div .pad-adjust {
    padding-top: 10px;
}

.credit-card-div .form-control {
    margin: 5px 0;
}

.credit-card-div textarea {
    margin: 15px 0;
    padding: 10px;
}

/* WIZARD FORM */
.wizNav {
    margin: 10px 0 30px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #F1F5F8;
    border: #F1F5F8;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.rating .fa {
    font-size: 22px;
}

.rating-num {
    margin-top: 0px;
    font-size: 60px;
}

.progress {
    margin-bottom: 5px;
}

.progress-bar {
    text-align: left;
}

.rating-desc .col-md-3 {
    padding-right: 0px;
}

/*========== Non-Mobile Method ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    footer .social, footer .copyright {
        text-align: center;
    }

    .newsletter {
        padding-top: 0px;
    }

    .box-icon {
        padding: 5px 0;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}

.list-title {
    border-top: 1px solid #ff5722;
    margin-top: 1px;
    margin-bottom: 25px;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.green .list-title {
    border-top: 1px solid #50ab00;
}

.purple .list-title {
    border-top: 1px solid #c904eb;
}

.blue .list-title {
    border-top: 1px solid #2aafd2;
}

.orange .list-title {
    border-top: 1px solid #ff5722;
}

.yellow .list-title {
    border-top: 1px solid #ffc000;
}

.entry-share {
    text-align: center;
}

.entry-share .helper {
    margin-bottom: 10px;
}

.entry-share a .share-box i {
    display: inline-block;
    padding: 9px 15px;
    margin-right: 4px;
    margin-bottom: 4px;
    color: #ffffff;
    font-size: 12px;
    -webkit-transition: all 250ms;
    -khtml-transition: all 250ms;
    -moz-transition: all 250ms;
    transition: all 250ms;
}

.entry-share a .share-box i::after {
    margin-left: 4px;
}

.entry-share a .share-box i.fa-facebook {
    background-color: #469;
}

.entry-share a .share-box i.fa-facebook:hover {
    background-color: #6c8dbe;
}

.entry-share a .share-box i.fa-facebook:active {
    background-color: #8fa8cd;
}

.entry-share a .share-box i.fa-twitter {
    background-color: #09f;
}

.entry-share a .share-box i.fa-twitter:hover {
    background-color: #4db8ff;
}

.entry-share a .share-box i.fa-twitter:active {
    background-color: #80ccff;
}

.entry-share a .share-box i.fa-pinterest {
    background-color: #c22;
}

.entry-share a .share-box i.fa-pinterest:hover {
    background-color: #e35757;
}

.entry-share a .share-box i.fa-pinterest:active {
    background-color: #ea8383;
}

.entry-share a .share-box i.fa-linkedin {
    background-color: #07d;
}

.entry-share a .share-box i.fa-linkedin:hover {
    background-color: #2b9dff;
}

.entry-share a .share-box i.fa-linkedin:active {
    background-color: #5eb4ff;
}

.entry-share a .share-box i.fa-google-plus {
    background-color: #d43;
}

.entry-share a .share-box i.fa-google-plus:hover {
    background-color: #e88075;
}

.entry-share a .share-box i.fa-google-plus:active {
    background-color: #efa8a0;
}

#nav-wrap.scrolled {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.header-my-account {
    float: right;
    font-weight: 600;
    display: inline-block;
    position: relative;
}

.header-my-account a {
    margin-left: 30px;
    color: #ffffff;
    position: relative;
    border-bottom: 1px solid;
    padding-bottom: 1px;
}

.note {
    border-left: 5px solid #eee;
}

.note.note-success {
    background-color: #c0edf1;
    border-color: #58d0da;
    color: #000;
}

.note.note-danger {
    background-color: #fef7f8;
    border-color: #f0868e;
    color: #210406;
}

.newsletter .has-error .help-block {
    color: red;
}

.site-content > .entry.post.shadow {
    margin-bottom: 30px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(186, 188, 190, 0.7);
    -khtml-box-shadow: 0 2px 3px -1px rgba(186, 188, 190, 0.7);
    -moz-box-shadow: 0 2px 3px -1px rgba(186, 188, 190, 0.7);
    box-shadow: 0 2px 3px -1px rgba(186, 188, 190, 0.7);
    -webkit-transition: all 0.3s;
    -khtml-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #ffffff;
}

.site-content > .entry.post:last-child {
    margin-bottom: 0;
}

.site-content > .entry.post.shadow:hover {
    -webkit-box-shadow: 0 1px 10px -1px rgba(186, 188, 190, 0.7);
    -khtml-box-shadow: 0 1px 10px -1px rgba(186, 188, 190, 0.7);
    -moz-box-shadow: 0 1px 10px -1px rgba(186, 188, 190, 0.7);
    box-shadow: 0 1px 10px -1px rgba(186, 188, 190, 0.7);
}

.site-content.archive > .entry.post .entry-data {
    padding: 10px 30px 30px 30px;
}

.site-content > .entry.post .entry-video + .entry-data,
.site-content > .entry.post .entry-thumbnail + .entry-data,
.site-content > .entry.post .entry-gallery + .entry-data {
    padding-top: 0;
}

.entry.post.sticky .entry-data .entry-title a {
    color: #50ab00;
}

.entry.post .entry-video span.categories-links,
.entry.post .entry-thumbnail span.categories-links,
.entry.post .entry-gallery span.categories-links {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0;
    z-index: 2;
    line-height: 2;
    overflow: hidden;
}

.entry.post .entry-video span.categories-links a,
.entry.post .entry-thumbnail span.categories-links a,
.entry.post .entry-gallery span.categories-links a {
    font-size: 12px;
    color: #ffffff;
    font-weight: 300;
    padding: 5px 6px;
    background-color: #37b4e7;
    line-height: 2;
}

.entry.post .entry-video {
    margin-bottom: 10px;
    line-height: 1;
    position: relative;
}

.entry.post .entry-video iframe {
    width: 100%;
}

.entry.post .entry-thumbnail {
    position: relative;
    margin-bottom: 10px;
}

.entry.post .entry-thumbnail img {
    width: 100%;
    height: auto;
}

.entry.post .entry-thumbnail .image {
    background-position: center;
    background-size: cover;
}

.entry.post .entry-gallery {
    margin-bottom: 10px;
}

.entry.post .entry-data .entry-extra span {
    color: #626670;
    font-size: 12px;
    line-height: 1;
}

.entry.post .entry-data .entry-extra span a {
    color: #ffffff;
    display: inline-block;
    padding: 5px 6px;
    background-color: #ff5722;
}

.entry.post .entry-data .entry-title {
    font-size: 1.75em;
    line-height: 1.25;
}

.entry.post .entry-data .entry-meta {
    font-size: 14px;
}

.entry.post .entry-data .entry-meta span {
    display: inline-block;
    margin-right: 15px;
}

.entry.post .entry-data .entry-meta span a {
    color: #50ab00;
    white-space: nowrap;
    background-color: transparent !important;
}

.entry.post .entry-data .entry-meta span.date a::before {
    content: "\e6b6";
    margin-right: 5px;
    font-size: 12px;
    font-family: 'themify';
}

.entry.post .entry-data .entry-meta span.like a,
.entry.post .entry-data .entry-meta span.date a {
    color: #626670;
    font-weight: 300;
}

.entry.post .entry-data .entry-meta .comments a {
    color: #626670;
    font-weight: 300;
}

.entry.post .entry-data .entry-meta .comments a .count:before {
    content: "\e644";
    margin-right: 5px;
    font-size: 12px;
    font-family: 'themify';
    line-height: 1;
}

.entry.post .entry-data .entry-meta .comments .label {
    display: none;
}

.entry.post .entry-data .entry-content,
.entry.post .entry-data .entry-summary {
    margin: 13px 0;
    padding: 0px;
}

.entry.post .entry-data .entry-content iframe,
.entry.post .entry-data .entry-summary iframe,
.entry.post .entry-data .entry-content embed,
.entry.post .entry-data .entry-summary embed {
    width: 100% !important;
}

.entry.post .entry-data .entry-content a.more-link,
.entry.post .entry-data .entry-summary a.more-link {
    margin-top: 20px;
    color: #babcbe;
    text-transform: lowercase;
    line-height: 25px;
    display: table;
    font-size: 14px;
}

.entry.post .entry-data .entry-content p:last-child,
.entry.post .entry-data .entry-summary p:last-child {
    margin-bottom: 0;
}

.entry.post .entry-data .entry-content::after,
.entry.post .entry-data .entry-summary::after {
    content: "";
    display: table;
    clear: both;
}

.entry.post .entry-data span.avatar {
    margin-top: 3px;
    float: left;
    margin-right: 15px;
}

.entry.post .entry-data span.avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.entry.post .entry-data .entry-footer {
    margin-top: 15px;
    font-size: 14px;
    display: table;
}

.entry.post .entry-data .entry-footer span {
    display: inline-block;
    margin-right: 15px;
    float: left;
}

.entry.post .entry-data .entry-footer span a[href] {
    color: #50ab00;
    white-space: nowrap;
    background-color: transparent !important;
}

.entry.post .entry-data .entry-footer span.date a::before {
    content: "\e6b6";
    margin-right: 5px;
    font-size: 12px;
    font-family: 'themify';
}

.entry.post .entry-data .entry-footer span + span.date {
    clear: both;
}

.entry.post .entry-data .entry-footer span.like a,
.entry.post .entry-data .entry-footer span.date a,
.entry.post .entry-data .entry-footer span.comments a {
    color: #626670;
    font-weight: 300;
}

.entry.post .entry-data .entry-footer .comments a {
    color: #626670;
    font-weight: 300;
}

.entry.post .entry-data .entry-footer .comments a .count:before {
    content: "\e644";
    margin-right: 5px;
    font-size: 12px;
    font-family: 'themify';
    /*line-height: 1;*/
}

.entry.post .entry-data .entry-footer .comments .label {
    display: none;
}

.entry.post .entry-data .entry-share {
    display: none;
    margin-top: 35px;
}

.entry.post .entry-data .entry-share .helper {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 700;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    line-height: 1.1;
}

.entry.post .entry-data .entry-share a .share-box i {
    display: inline-block;
    padding: 9px 15px;
    margin-right: 4px;
    margin-bottom: 4px;
    color: #ffffff;
    font-size: 12px;
    -webkit-transition: all 250ms;
    -khtml-transition: all 250ms;
    -moz-transition: all 250ms;
    transition: all 250ms;
}

.entry.post .entry-data .entry-share a .share-box i::after {
    margin-left: 4px;
}

.entry.post .entry-data .entry-share a .share-box i.fa-facebook {
    background-color: #469;
}

.entry.post .entry-data .entry-share a .share-box i.fa-facebook:hover {
    background-color: #6c8dbe;
}

.entry.post .entry-data .entry-share a .share-box i.fa-facebook:active {
    background-color: #8fa8cd;
}

.entry.post .entry-data .entry-share a .share-box i.fa-facebook::after {
    content: 'Facebook';
}

.entry.post .entry-data .entry-share a .share-box i.fa-twitter {
    background-color: #09f;
}

.entry.post .entry-data .entry-share a .share-box i.fa-twitter:hover {
    background-color: #4db8ff;
}

.entry.post .entry-data .entry-share a .share-box i.fa-twitter:active {
    background-color: #80ccff;
}

.entry.post .entry-data .entry-share a .share-box i.fa-twitter::after {
    content: 'Twitter';
}

.entry.post .entry-data .entry-share a .share-box i.fa-pinterest {
    background-color: #c22;
}

.entry.post .entry-data .entry-share a .share-box i.fa-pinterest:hover {
    background-color: #e35757;
}

.entry.post .entry-data .entry-share a .share-box i.fa-pinterest:active {
    background-color: #ea8383;
}

.entry.post .entry-data .entry-share a .share-box i.fa-pinterest::after {
    content: 'Pinterest';
}

.entry.post .entry-data .entry-share a .share-box i.fa-linkedin {
    background-color: #07d;
}

.entry.post .entry-data .entry-share a .share-box i.fa-linkedin:hover {
    background-color: #2b9dff;
}

.entry.post .entry-data .entry-share a .share-box i.fa-linkedin:active {
    background-color: #5eb4ff;
}

.entry.post .entry-data .entry-share a .share-box i.fa-linkedin::after {
    content: 'LinkedIn';
}

.entry.post .entry-data .entry-share a .share-box i.fa-google-plus {
    background-color: #d43;
}

.entry.post .entry-data .entry-share a .share-box i.fa-google-plus:hover {
    background-color: #e88075;
}

.entry.post .entry-data .entry-share a .share-box i.fa-google-plus:active {
    background-color: #efa8a0;
}

.entry.post .entry-data .entry-share a .share-box i.fa-google-plus::after {
    content: 'Google+';
}

.entry.post .entry-data .entry-share a .share-box i.fa-comment-o {
    display: none;
}

.entry.post .entry-data::after {
    content: "";
    display: table;
    clear: both;
}

.post-navigation {
    margin-top: 55px;
    margin-bottom: 40px;
    padding-top: 40px;
    border-top: 1px solid #e8eaed;
}

.post-navigation a {
    font-size: 14px;
    line-height: 20px;
}

.post-navigation a i {
    display: inline-block;
    color: #000000;
}

.post-navigation a span {
    vertical-align: middle;
}

.post-navigation a span.helper {
    display: block;
    color: #000000;
    font-weight: 700;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    line-height: 1.22222222;
    font-size: 15.75px;
}

.post-navigation a span.title {
    margin: 10px 0;
    display: inline-block;
    color: #272630;
}

.post-navigation [rel="prev"] + [rel="next"] {
    float: left;
}

.post-navigation [rel="prev"],
.post-navigation [rel="next"] {
    width: 50%;
}

.post-navigation [rel="prev"] i,
.post-navigation [rel="next"] i {
    width: 55px;
}

.post-navigation [rel="prev"] i::before,
.post-navigation [rel="next"] i::before {
    display: inline-block;
    font-family: 'themify';
    font-size: 14px;
    line-height: 1;
    font-style: normal;
    color: #272630;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

.post-navigation .prev-post {
    margin-left: 55px;
}

.post-navigation [rel="prev"] {
    float: left;
}

.post-navigation [rel="prev"] i {
    float: left;
    /*padding-right: 20px;*/
}

.post-navigation [rel="prev"] i::before {
    content: "\e629";
}

.post-navigation .next-post {
    margin-right: 55px;
    text-align: right;
}

.post-navigation [rel="next"] {
    float: right;
    text-align: right;
}

.post-navigation [rel="next"] i {
    float: right;
    /*padding-left: 20px;*/
}

.post-navigation [rel="next"] i::before {
    content: "\e628";
}

.terms {
    padding: 14px 20px 0px;
}

@media (max-width: 768px) {
    .entry.post .entry-video iframe {
        max-height: 300px;
    }

    .entry.post .entry-thumbnail .image,
    .entry.post .entry-gallery .image {
        max-height: 300px;
    }

    .post-navigation a[rel="prev"],
    .post-navigation a[rel="next"] {
        float: none;
        width: 100%;
    }

    .header-my-account {
        margin-bottom: 10px;
    }

    .buy-now .quantity-wanted {
        width: 100% !important;
    }
}

.header-my-account .dropdown a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: -4px 0;
}

.header-my-account .dropdown a {
    border-bottom: none;
}

.header-my-account .dropdown-menu a {
    margin-left: 0px;
    color: #7D8693;
}

.header-my-account .dropdown-menu {
    z-index: 9999;
    top: 34px;
    max-width: 90px;
    right: 0;
    left: inherit;
}

.orange .btn-primary {
    background-color: #ff5722 !important;
}

.orange .ti-timer {
    color: #ff5722 !important;
}

.blue .btn-primary {
    background-color: #2aafd2 !important;
}

.blue .ti-timer {
    color: #2aafd2 !important;
}

.green .btn-primary {
    background-color: #50ab00 !important;
}

.green .ti-timer {
    color: #50ab00 !important;
}

.purple .btn-primary {
    background-color: #c904eb !important;
}

.purple .ti-timer {
    color: #c904eb !important;
}

.yellow .btn-primary {
    background-color: #ffc000 !important;
}

.yellow .ti-timer {
    color: #ffc000 !important;
}

.deal-entry.yellow .title {
    border-left: 5px solid #ffc000;
}

.deal-entry.yellow .offer-discount, .deal-entry.yellow .bought {
    background-color: #ffc000;
}

.deal-entry.yellow .title {
    border-left: 5px solid #ffc000;
}

.deal-entry.yellow .procent {
    color: #ffc000;
}

.discount-yellow {
    background: #ffc000;
}

.deal-entry .entry-content p {
    min-height: 45px;
}

.color-red {
    color: #e31722 !important;
}

.color-red {
    color: #e31722 !important;
}

.color-yellow {
    color: #f7da00 !important;
}

.color-orange {
    color: #f4a854 !important;
}

.category-slick .slick-slide {
    padding-top: 10px;
}

.category-home {
    margin-top: 10px;
}

.slick-track {
    margin-left: initial;
    margin-right: initial;
}

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots li button {
    width: 45px;
    height: 3px;
    font-size: 0;
    border: none;
    margin: 2px;
    opacity: 0.5;
}

.slick-dots li.slick-active button {
    opacity: 1;
}

.orange .slick-dots li button {
    background: #f4a854;
}

.yellow .slick-dots li button {
    background: #f7da00;
}

.red .slick-dots li button {
    background: #e31722;
}

.blue .slick-dots li button {
    background: #2aafd2;
}

.green .slick-dots li button {
    background: #50ab00;
}

.purple .slick-dots li button {
    background: #c904eb;
}

.event-city i {
    padding-right: 5px;
}

.red .event-city {
    color: #e31722;
}

.black .event-city {
    color: #071d39;
}

.orange .event-city {
    color: #f4a854;
}

.yellow .event-city {
    color: #f7da00;
}

.blue .event-city {
    color: #2aafd2;
}

.green .event-city {
    color: #50ab00;
}

.purple .event-city {
    color: #c904eb;
}

.slide-thumbs img {
    cursor: pointer;
}

.buy-now .quantity-wanted {
    float: left;
    margin-right: 10px;
    display: inline;
    width: 100px;
    margin-bottom: 10px;
}

.buy-now .quantity-wanted .qty-ii {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ededed;
    display: inline;
    float: left;
    padding: 5px 10px;
}

.buy-now .quantity-wanted .btn {
    background: none;
    border: medium none;
    float: left;
}

.buy-now .quantity-wanted label {
    float: left;
    line-height: 40px;
    margin-bottom: 0;
    margin-right: 15px;
}

.buy-now .quantity-wanted input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none !important;
    color: #3a3838;
    float: left;
    font-size: 14px;
    height: 33px;
    padding: 0 6px;
    text-align: center;
    width: 50px;
}

.button-plus, .button-minus {
    font-size: 14px;
    line-height: 33px;
    color: #c0c0c0;
    text-shadow: 1px -1px rgba(0, 0, 0, 0.05);
    padding: 0;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    float: left;
}

.buy-now .lab-cart {
    display: inline;
    float: left;
    width: 255px;
}

.modal {
    top: 20%;
}

.modal .deal-entry {
    width: 70%;
    margin: 15px auto;
    float: none;
    box-shadow: none;
    border: 1px solid rgb(237, 237, 237);
}

.deal-attributes {
    float: left;
    width: 100%;
    margin: 0 auto;
}

.modal-body h5.media-heading {
    color: #fff;
}

.cart-quantity-button {
    margin-top: 5px;
}

.cart-contents .quantity-wanted {
    padding: 20px 12px !important;
}

.cart-quantity-button .btn.button-plus,
.cart-quantity-button .btn.button-minus {
    font-size: 14px;
    line-height: 14px;
    color: #c0c0c0;
    text-shadow: 1px -1px rgba(0, 0, 0, 0.05);
    padding: 0;
    border: 1px solid #ededed;
    min-width: auto;
    width: 30px;
    float: right;
}

.cart-quantity-button .btn.button-minus {
    float: left;
}

.cart-quantity-button .btn.button-plus span,
.cart-quantity-button .btn.button-minus span {
    display: block;
    border: 1px solid #fff;
    height: 33px;
    line-height: 33px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    background: white;
}

.cart-contents .product-details {
    width: 100%;
}

.icheck-list > label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.icheck-list span {
    display: block;
    float: right;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}

.icheck-list span.old-price {
    text-decoration: line-through;
    font-size: 13px;
}

.icheckbox_line-orange, .iradio_line-orange {
    padding: 10px 15px 10px 38px;
    font-size: 15px;
    line-height: 18px;
}

.icheckbox_line-orange.checked,
.iradio_line-orange.checked {
    background: #2daae1;
}

.btn.red:not(.btn-outline) {
    color: #fff;
    background-color: #e7505a;
    border-color: #e7505a;
}

.control-label .required, .form-group .required {
    color: #e02222;
    font-size: 12px;
    padding-left: 2px;
}

.select2-container--default .select2-selection--single {
    display: block;
    padding: 8px 10px;
    width: 100%;
    height: 43px;
    border: 1px solid #ededed;
    border-radius: 0;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    color: #000;
    font-size: 14px;
    line-height: 1.42857143;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
}

.table-bordered {
    border: 1px solid #ededed;
}

.pagination {
    margin: 0px 0;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-radius: 50%;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: 50%;
}

.pagination > li > a,
.pagination > li > span {
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #ff5722;
    line-height: 34px;
    text-align: center;
    margin-right: 5px;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
    color: #fff;
    cursor: not-allowed;
    background-color: #ddd;
    border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #ff5722;
    border-color: #ff5722;
}

.footer-widget ul ul {
    list-style: circle;
    margin-left: 40px;
}

.panel-box {
    background: #f1f1f1;
    border: 0;
    height: auto;
    clear: both;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 25px 25px 1px;
}

.bold {
    font-weight: bold !important;
}

.error {
    color: red;
}

.paginate {
    float: left;
    width: 100%;
}

.slick-slide:focus {
    outline: none;
}

.slick-list {
    outline: none !important;
}

.slick-slide {
    outline: none !important;
}

.like-btn {
    margin-top: 10px;
}

.social.social-share-btn li a i {
    width: 28px;
    height: 28px;
    line-height: 28px;
}

/* Colors Black */
.deal-entry.black .offer-discount, .deal-entry.black .bought {
    background-color: #071d39;
}

.deal-entry.black .title {
    border-left: 5px solid #071d39;
}

.black .deal-entry .title a:hover {
    color: #071d39;
}

.deal-entry.black .procent {
    color: #071d39;
}

.black .list-title {
    border-top: 1px solid #071d39;
}

.black .btn-primary {
    background-color: #071d39 !important;
}

.black .ti-timer {
    color: #071d39 !important;
}

.black .slick-dots li button {
    background: #071d39;
}

/* Colors Red */
.deal-entry.red .offer-discount, .deal-entry.red .bought {
    background-color: #e41b13;
}

.deal-entry.red .title {
    border-left: 5px solid #e41b13;
}

.red .deal-entry .title a:hover {
    color: #e41b13;
}

.deal-entry.red .procent {
    color: #e41b13;
}

.red .list-title {
    border-top: 1px solid #e41b13;
}

.red .btn-primary {
    background-color: #e41b13 !important;
}

.red .ti-timer {
    color: #e41b13 !important;
}

.red .slick-dots li button {
    background: #e41b13;
}

@media only screen and (min-width: 780px) {
    .text-center-sm {
        visible: hidden
    }
}

@media only screen and (max-width: 780px) {
    .text-center-sm {
        text-align: center;
        visible: visible
    }

    .icheck-list span {
        float: none;
    }
}

.suggestion .timeLeft {
    text-align: left;
    margin: 5px 0;
    padding: 0px 0;
}

.suggestion .timeLeft .time {
    font-size: 14px;
}

.suggestion .timeLeft .time i {
    padding-right: 0px;
}

.category-home .row {
    margin-right: 0;
    margin-left: 0;
}

.fa-mawazine {
    background: url("../images/mawazine.png") left 0px no-repeat;
    background-size: 16px;
    display: inline-block;
    width: 20px;
    height: 19px;
}

.fa-mdr {
    background: url("../images/mdr.png") left 0px no-repeat;
    background-size: 16px;
    display: inline-block;
    width: 20px;
    height: 19px;
}

.fa-aji-thdm {
    background: url("../images/aji-thdam.png") left 0px no-repeat;
    background-size: 16px;
    display: inline-block;
    width: 20px;
    height: 19px;
}

.fa-epic {
    background: url("../images/epic.png") left 0px no-repeat;
    background-size: 10px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.navbar.nav-white .navbar-nav > li > a span {
    display: inline-block;
    vertical-align: top;
}

.navbar-nav li {
    max-height: 78px;
    overflow: hidden;
}

.btn-buy-event .btn {
    font-size: 20px;
    background-color: #ff5722 !important;
    font-weight: bold;
    width: 100%;
}

.old-price-event {
    font-size: 20px;
    text-decoration: line-through;
    color: red;
}

.nav-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 126px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    background-color: rgb(10, 29, 56, 0.9);
    -webkit-box-shadow: 0 6px 25px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 25px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 25px 2px rgba(0, 0, 0, 0.2);
    z-index: 1040;
}

.nav-search .form-search {
    padding: 1rem;
    width: 100%;
}

.nav-search .form-search .input-group,
.nav-search .form-search .form-group {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.nav-search .form-search .input-group .search-control {
    width: 100%;
    padding: 0rem .5rem;
    color: white;
    font-weight: 300;
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: white;
    padding-right: 3rem;
    font-size: 15px;
}

.nav-search .form-search .input-group .search-control:-moz-placeholder {
    color: white;
}

.nav-search .form-search .input-group .search-control::-moz-placeholder {
    color: white;
}

.nav-search .form-search .input-group .search-control:-ms-input-placeholder {
    color: white;
}

.nav-search .form-search .input-group .search-control::-webkit-input-placeholder {
    color: white;
}

.nav-search .form-search .input-group .search-control::placeholder {
    color: white;
}

.nav-search .form-search .input-group .search-control:focus {
    outline: 0;
}

.nav-search .form-search .input-group .search-btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    bottom: .3rem;
    font-size: 20px;
    color: #fff;
}

.nav-search .form-search .search-close {
    position: absolute;
    right: 20%;
    top: 1rem;
    color: white;
    font-size: 15px;
    line-height: 18px;
    padding-right: 20px;
    display: inline-block;
    cursor: pointer;
}

.nav-search .form-search .search-close:hover {
    color: white;
}

.nav-search.is-closed {
    -webkit-transform: translateY(-140px);
    -moz-transform: translateY(-140px);
    -ms-transform: translateY(-140px);
    -o-transform: translateY(-140px);
    transform: translateY(-140px);
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.nav-search.is-closed {
    -webkit-transform: translateY(-140px);
    -moz-transform: translateY(-140px);
    -ms-transform: translateY(-140px);
    -o-transform: translateY(-140px);
    transform: translateY(-140px);
}

@media (max-width: 768px) {
    .nav-search .form-search .input-group {
        width: 100%;
    }

    .nav-search .form-search .search-close {
        right: 15px;
        bottom: 10px;
        padding-right: 0px;
        top: inherit;
    }

    .nav-search {
        height: 131px;
    }
}

.icheckbox_line-orange .icheck_line-icon,
.iradio_line-orange .icheck_line-icon {
    background-position: -15px 0;
}

.popup-instagram {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 25px 10px 25px 25px;
    width: 100%;
    height: 110px;
    background-color: #ff5722;
    box-shadow: 0 20px 40px 0 rgba(19, 39, 52, .2);
    transition: -webkit-transform .75s cubic-bezier(1, 0, 0, 1);
    transition: transform .75s cubic-bezier(1, 0, 0, 1);
    transition: transform .75s cubic-bezier(1, 0, 0, 1), -webkit-transform .75s cubic-bezier(1, 0, 0, 1);
    -webkit-transform: translate3d(0, -120%, 0);
    transform: translate3d(0, -120%, 0);
    border-radius: 3px;
}

.popup-instagram.is-active {
    /*transition-delay: 3s;*/
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
}

.popup-instagram .btn-close {
    z-index: 11;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 45px;
    height: 40px;
    -ms-flex: 0 0 45px;
    flex: 0 0 45px;
    border: none;
    font-size: 25px;
    cursor: pointer;
    transition: color .35s;
    border-radius: 0 0 0 25px;
}

.popup-instagram img {
    display: block;
    max-width: 100%;
    height: auto;
    box-sizing: content-box;
}

.popup-instagram .btn-close img {
    width: 35px;
}

.pub-instagram {
    position: relative;
    width: 172px;
    -ms-flex: 0 0 172px;
    flex: 0 0 172px;
}

.pub-instagram p {
    font-size: 17px;
    color: #fff;
    position: absolute;
    top: 0;
    left: -10px;
    margin: 0;
}

.link-instagram {
    background-color: #0a1d38;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    padding: 4px 17px;
    font-weight: 500;
    text-align: center;
}

.post .entry-title {
    font-size: 20px;
}

.post .post-date {
    font-weight: bold;
}

.deal-entry.post .bought {
    background: #e41b13;
}